<template>
    <v-container fluid>
        <router-view name="social"></router-view>
    </v-container>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style scoped>

</style>
