<template>
<v-container fluid>
    <v-row no-gutters  class="mb-6">
        <v-col cols="3"  class="hidden-md-and-down">
            <v-card class=" ">
                <v-card-title>
                    Профил
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="6">
                                <v-avatar size="64" >
                                    <v-img :src="'/'+user.img"></v-img>
                                </v-avatar>
                            </v-col>
                            <v-col cols="6">
                                <h1 class="title">{{user.name}}</h1>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col  md="12" lg="6" sm="12" >
            <app-create-post></app-create-post>
            <app-posts ></app-posts>
        </v-col>
        <v-col cols="3"  >



                    <app-events class="hidden-md-and-down"></app-events>


            <br>
            <app-users class="hidden-md-and-down"></app-users>
        </v-col>
    </v-row>
    <v-container fluid>
        <app-message-heads class="chathead hidden-sm-and-down "></app-message-heads>
    </v-container>
</v-container>
</template>

<script>
    import SubmitPost from "./Posts/SubmitPost";
    import Posts from "./Posts/Posts";
    import Users from "./Messages/Users";
    import MessageHeads from "./Messages/MessageHeads";
    import Events from "./Events/Events";
    export default {
        name: "Home",
        components:{
            appCreatePost:SubmitPost,
            appPosts:Posts,
            appUsers:Users,
            appMessageHeads:MessageHeads,
            appEvents:Events,
        },
        data:()=>({
            user:{}
        }),
        created() {
            let app = this;
            this.get('auth/user').then(resp=>{
                app.user = resp.user;
                app.$store.commit('setUser',app.user);

            }).catch(err=>{
                app.$router.push('/login');
            })
        }

    }
</script>

<style scoped>
    .chathead {

        z-index: 1;
        position: fixed;


        color: white;


        bottom: 0vh;
    }
</style>
