<template>
    <section>
        <v-carousel hide-delimiters >
            <v-carousel-item
                v-for="event in events"
                :key="event.id"
                :src="event.image"
            ></v-carousel-item>
        </v-carousel>
    </section>
</template>

<script>
    export default {
        name: "Slider",
        data:()=>({
            events: [
                {
                    img:"/images/slider/3.jpg"
                },
                {
                    img:"/imgs/slider/4.jpg"
                },
                {
                    img:"/imgs/slider/1.jpg"
                },
                {
                    img:"/imgs/slider/2.jpg"
                },
            ],
        }),
        methods: {
            fetchEvents() {
                let app = this;
                this.get('/events').then(resp => {
                    app.events = resp.events;
                });
            }
        },
        created() {
            this.fetchEvents();
        }
    }
</script>

<style scoped>

</style>
