<template>
    <v-container fluid>
        <h1 class="title">Партньори</h1>
        <v-divider width="25%"></v-divider>
        <v-row>
            <template v-for="partner in partners">
                <v-col lg="4" sm="12" >

                <v-card>
                        <v-img
                            height="200px"
                            width="100%"
                            :src="'/'+partner.img"
                        >


                        </v-img>
                        <v-card-title>{{partner.name}}</v-card-title>
                        <v-card-text class="black--text">
                            <h4><v-icon>mdi-map-marker</v-icon>{{partner.location}}</h4>
                            <br>
                            <h4><v-icon>mdi-web</v-icon><a :href="partner.website" target="_blank">{{partner.website}}</a></h4>
                            <br>
                            <h4 v-for="phone in partner.phones"><v-icon>mdi-phone</v-icon>{{phone.phone}}</h4>

                        </v-card-text>

                    </v-card>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Partners",
        data:()=>({
            partners:[]
        }),
        methods:{
          fetchPartners(){
              let app = this;
              this.get('/partners').then(resp=>{
                app.partners = resp.partners;
             });
          }
        },
        created() {
            this.fetchPartners();
        }
    }
</script>

<style scoped>

</style>
