<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col cols="12">
                <v-card flat height="50vh" width="100%">
                    <v-img
                        :src="'/'+user.bg_image"
                        class="white--text align-end"
                        height="100%"
                        :aspect-ratio="16/9"
                    >
                        <v-overlay
                            :absolute="true"
                            :value="true"
                        >

                        <v-avatar  size="128">
                            <v-img :src="'/'+user.img"></v-img>
                        </v-avatar>

                            <h3 class="text-center ">{{user.name}}</h3>
                            <app-profile-edit v-if="user.is_editable == 'true'"></app-profile-edit>
                        </v-overlay>

                    </v-img>
                </v-card>
            </v-col>
            <v-col cols="12">
                <app-user-posts></app-user-posts>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ProfileEdit from "./ProfileEdit";
    import ProfilePosts from "./ProfilePosts";
    export default {
        props:['id'],
        name: "Profile",
        components:{
          appProfileEdit:ProfileEdit,
          appUserPosts:ProfilePosts
        },
        data:()=>({
            user:{}
        }),
        created() {
            let app = this;
            if(!isNaN(this.$route.params.id) && this.$route.params.id!=undefined){
                this.get('auth/users/user/'+this.$route.params.id).then(resp=>{
                    app.user = resp.user;
                    app.$EventBus.$emit("fetch-posts",app.user);
                })
            }else{
                this.get('auth/user').then(resp=>{
                    app.user = resp.user;
                    app.$EventBus.$emit("fetch-posts",app.user);
                });
            }


        }
    }
</script>

<style scoped>

</style>
