<template>
    <v-container fluid v-infinite-scroll="LoadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
        <v-row>
            <template >
            <v-col  lg="12" md="auto" sm="12" v-for="(post,i) in posts" :key="post.id" >
                <app-post :p ="post"></app-post>
            </v-col>

            </template>
        </v-row>

<!--  Post Dialog  -->

        <app-post-dialog></app-post-dialog>
    </v-container>
</template>

<script>

    import PostDialog from "../Posts/PostDialog";
    import Post from "../Posts/Post";


    export default {
        name: "ProfilePosts",
        components:{
            appPostDialog:PostDialog,
            appPost:Post

        },
        data:()=>({
            posts:[],
             fetch:0,
            busy:false,
            user_id:null


        }),
        methods:{
             FetchData(){
                let app = this;
                    this.get("auth/posts/fetch/"+this.fetch+"/user/"+this.user_id).then(function(resp){
                        app.$EventBus.$emit('stop-loading');
                        if(resp.posts.length){
                            resp.posts.forEach((post)=>{
                                app.posts.push(post)
                            });

                        }else{
                            app.busy = true;
                        }
                    });
                     this.busy = false;
                },

            LoadMore(){
                this.fetch+=5;
                this.busy = true;
                this.FetchData();
            },

        },
            created(){
            let app = this;
             this.$EventBus.$on("fetch-posts",user=>{
                 app.user_id = user.id;
                app.FetchData();
             });
        },
    }
</script>

<style scoped>
v-card-text:hover{
      cursor:pointer;
    }
</style>
