<template>
    <v-dialog
        v-model="dialog"
        width="500"
    >
        <template v-slot:activator="{ on }">
            <v-btn
                dark
                v-on="on"
                icon
            >
               <v-icon>mdi-pencil-outline</v-icon>
            </v-btn>
        </template>

        <v-card>
            <v-card-title
                class="headline grey lighten-2"
                primary-title
            >
               Редактиране на профила
            </v-card-title>

            <v-card-text>
                <input

                    style="display: none"
                    @change="onFilePicked"
                    type="file" id="file" ref="file"/>
            <v-list>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-img :src="'/'+user.img"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-title>
                        <v-btn text  @click="pickFile">Смени профилната снимка</v-btn>
                    </v-list-item-title>
                </v-list-item>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-img :src="'/'+user.bg_image"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-title>
                        <v-btn @click='pickFile("bg")'>Смени фоновата снимка</v-btn>
                    </v-list-item-title>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>
                        <v-btn text>{{user.name}}</v-btn>
                    </v-list-item-title>
                    <v-list-item-action>
                        <v-btn
                            icon
                        >
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-btn
                    color="red"
                    text
                    @click="dialog = false"
                >
                    Затвори
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                >
                    Запази
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "ProfileEdit",
        data:()=>({
            dialog: false,
            user:{},
            edit_profile:false,
            edit_picture:false,
            profile_image:[],
            imageName: '',
            imageUrl: '',
            imageFile: '',
            other_user:false,
            img_type:'',
            bgurl:''
        }),
        methods:{
            pickFile (type='profile') {
                this.$refs.file.click ();
                this.img_type = type;
            },
            Logout(){
                let app = this;
                this.post('auth/logout',{}).then(()=>{
                    app.$store.commit("removeUser");
                    localStorage.setItem("token","");
                    app.$router.push("/");
                })


            },
            updatePhoto(){
                let app = this;
                this.$EventBus.$emit("loading");
                if(this.img_type=="bg"){
                    this.patch("auth/profile/update",{
                        bgurl:this.bgurl,
                        img_name:this.imageName,
                        image_type:this.img_type,
                        bg_image:this.bgurl
                    }).then(function(resp){
                        app.$EventBus.$emit("stop-loading");
                    })
                }else {
                    this.patch("auth/profile/update", {
                        img: this.imageUrl,
                        img_name: this.imageName,
                    }).then(function (resp) {
                        app.$EventBus.$emit("stop-loading");
                    })
                }
            },

            onFilePicked (e) {
                let app = this;
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageName = files[0].name
                    if (this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        if(app.img_type=="bg") {
                            this.bgurl = fr.result
                        }else{
                            this.imageUrl = fr.result
                        }

                        this.imageFile = this.$refs.file.files[0];
                        let img = {};
                        if(app.img_type=="bg"){
                            img = {
                                url: app.bgurl,
                                file: app.imageFile, // this is an image file that can be sent to server...
                                name: app.imageName // this is an image file that can be sent to server...
                            }
                        }
                        else{
                            img = {
                                url: app.imageUrl,
                                file: app.imageFile, // this is an image file that can be sent to server...
                                name: app.imageName // this is an image file that can be sent to server...
                            }
                        }// this is an image file that can be sent to server...

                        this.profile_image[0] = img;
                        this.updatePhoto();
                    })
                }
            }
        },
        created() {
            let app = this;
            this.get('auth/user').then(resp=>{
                app.user = resp.user
            })
        },
        watch:{
            imageUrl(val){
                this.user.img = val
            },
            user_id(){
                this.FetchUser();
            }
        },
    }
</script>

<style scoped>

</style>
