<template>
    <v-container>
        <v-card color="blue">
            <v-card-title  >
            <h6 class="white--text ">
                Онлайн списание
            </h6>
            </v-card-title>
            <v-card-text  class="text-center text-card">
                <h4 class="blue--text" >   Списание на </h4>
                   <h4 class="blue--text"> счетоводителите в България </h4>

            </v-card-text>
            <v-card-actions color="white" style="background-color:white;">
                <v-btn text to="/newsletter">Към списанието </v-btn>
            </v-card-actions>

        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "Newsletter",




    }
</script>

<style scoped>
.text-card{
    background-color:white;
    margin-top:10px;
}
</style>
