<<<<<<< HEAD
<template>
    <div>
<v-card>
    <v-list-item :to="`social/user/`+post_data.user.id" three-line>

            <v-list-item-avatar
            >
                <v-avatar>
                    <v-img :src="post_data.user.img"></v-img>
                </v-avatar>
            </v-list-item-avatar>
            <v-list-item-title
                class="headline mb-2"
                v-text="post_data.user.name"
            ></v-list-item-title>


    </v-list-item>
<!--            <v-card-title class="align-end fill-height">-->
<!--                <v-avatar>-->
<!--                    <v-img :src="post_data.user.img"></v-img>-->

<!--                </v-avatar>-->
<!--                <br>-->
<!--                <h4>{{post_data.user.name}}</h4>-->
<!--            </v-card-title>-->



        <v-card-text >

            <h2 class="text--black">{{post_data.content}}</h2>

            <div v-if="post_data.images.length">
                <div v-if="post_data.images.length == 1">
                    <v-img  :src="post_data.images[0].url"></v-img>
                </div>
                <div v-if="post_data.images.length > 1">
                    <v-row >
                        <v-col
                                v-for="(image,i) in post_data.images"
                                :key="i"
                                class="d-flex child-flex"
                                cols="3"
                        >

                            <v-img :src="image.url"></v-img>
                        </v-col>
                    </v-row>


                </div>


            </div>

        </v-card-text>
        <v-card-actions>
            <v-btn icon @click="Like()"><v-icon :color='icon'>thumb_up</v-icon>{{post_data.likes.length}}</v-btn>
            <v-btn icon @click="comments = !comments"><v-icon>chat</v-icon>{{post_data.comments.length}}</v-btn>
            <v-spacer></v-spacer>
            <v-btn   v-if="post_data.user.id == user_id" icon @click="Edit(post_data)" ><v-icon>edit</v-icon></v-btn>

        </v-card-actions>
    <hr>
    <v-list v-show="comments">
        <v-list-item>
            <v-list-item-action>
                <v-text-field
                    v-model="comment"
                    @keypress.enter = "Comment()"
                    label="Коментар"
                ></v-text-field>
            </v-list-item-action>
        </v-list-item>
        <v-list-item v-for="comment in post_data.comments">
            <v-list-item-avatar><v-img :src="comment.user.img"></v-img></v-list-item-avatar>
            <v-list-item-content>
            <v-list-item-title>{{comment.user.name}}</v-list-item-title>
            <v-list-item-subtitle>{{comment.description}}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</v-card>
        <br>
    </div>

</template>

<script>
    export default {
        name: "Post",
        props:['post_data'],
        data:()=>({
            comment:"",
            comments:false,
            user_id:0
        }),
        computed:{
            icon(){
                let app = this;
               this.post_data.likes.forEach((like)=>{
                   if(app.$store.state.user.id== like.user_id){

                       return "blue"
                   }else{
                        return ""
                   }
               })
            }
        },
        created(){
            this.user_id = this.$store.state.user.id
        },
        methods:{
            Like(){
                let app = this;
                this.post("auth/post/"+this.post_data.id+"/likes",{
                    id:this.post_data.id,
                }).then(()=>{
                    app.post_data.likes.push({user_id:app.$store.state.user.id,post_id:this.post_data.id});
                })
            },

            Edit(e){
              this.$EventBus.$emit('edit',e);
                this.$scrollTo("#edit")
            },
            Comment(){
                let app = this;
                if(this.comment !=""){
                    this.post("auth/post/"+this.post_data.id+"/comments",{
                        description:this.comment,
                        post_id:this.post_data.id
                    }).then(()=>{
                        app.post_data.comments.unshift({
                            description:app.comment,
                            user_id:app.$store.state.user.id,
                            post_id:app.post_data.id,
                            user:app.$store.state.user
                        })
                        app.comment = "";
                    })
                }

            }
        }
    }
</script>

<style scoped>

</style>
=======
>>>>>>> feature/dev
