<<<<<<< HEAD
<template>
<div   v-infinite-scroll="LoadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="1">

        <h1 class="text"></h1>
        <hr class = "clear">

    <app-post v-for ="post in posts" :key="post.id" :post_data = "post" ></app-post>
</div>
</template>

<script>
    import SubmitPost from './SubmitPost'
    import Post from './Post'
    export default {
        name: "Posts",
        props:['user'],
        components:{
            AppSubmitPost:SubmitPost,
            AppPost:Post,
        },
        data:()=>({
            posts:[],
            fetch:0,
            busy:false,
            user_id:null
     }),
        methods:{
            FetchData(user_id = null,clear = false){
                let app = this;

                if(user_id == null){
                    this.get("auth/posts/fetch/"+this.fetch).then(function(resp){
                    if(resp.posts.length){
                        resp.posts.forEach((post)=>{
                            app.posts.push(post)
                        });
                    }else{
                        app.busy = true;
                    }

                    });
                }else{
                    app.$EventBus.$emit('loading');
                    if(clear){
                        app.posts = [];
                        app.fetch = 0;
                    }
                    this.get("auth/posts/fetch/"+this.fetch+"/"+this.user).then(function(resp){

                        app.busy = true;
                        app.$EventBus.$emit('stop-loading');
                        if(resp.posts.length){
                            resp.posts.forEach((post)=>{
                                app.posts.push(post)
                            });

                        }


                    });
                }
                this.busy = false;

            },
            LoadMore(){
                this.fetch+=5;
                this.busy = true;
                if(this.user_id == null){
                    this.FetchData();

                }else{
                    this.FetchData(this.user,true);
                }


            }
        },
        created(){
            let app = this;


                this.FetchData();
                this.$EventBus.$on("fetch-posts",()=>{
                    app.posts = [];
                    app.fetch = 0;
                    app.FetchData();
                });


        },
        watch:{
            user(val){
                this.posts = [];
                this.fetch = 0;
                this.FetchData(val,true);
                this.user_id = val;
            }
        }
    }
</script>

<style scoped>

</style>
=======
>>>>>>> feature/dev
