<template>
    <div class="container">

        <card class='stripe-card'
              :class='{ complete }'
              stripe='pk_test_exyvgGa0VocgOtf6j1R0pFno00EOoTmf1s'

              @change='complete = $event.complete'
        />
        <v-btn color = "primary" text @click="pay()">Плати 20лв</v-btn>
    </div>
</template>

<script>
    import { Card, createToken } from 'vue-stripe-elements-plus'
    export default {
        name: "Checkout",
        components: { Card },
        methods:{
            pay(){
                this.$EventBus.$emit('pay');
            }
        }

    }
</script>

<style scoped>
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>