<template>
    <v-container>
        <v-alert type="error" v-show="err.has_error" >
          Вече си абониран
        </v-alert>
    <v-stepper v-model="n">
        <v-stepper-header>
            <v-stepper-step step="1"></v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step step="2"></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3"></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4"></v-stepper-step>




        </v-stepper-header>
        <v-stepper-items>
            <v-stepper-content

                    step="1"
            >

                    <h3 class="text-center">СТАНИ АБОНАТ СЕГА</h3>
                    <h5 class="text-center">Получаваш неограничен и многократен достъп, безплатни услуги , отстъпки и привилегировано обслужване</h5>
                <h5  class="text--bold">Големи отстъпки, безплатни услуги, привилегии:</h5>

                    <ul>
                        <li>-10%  отстъпка от счетоводен софтуер;</li>
                        <li>-5% отстъпка от абонаментната програма;;</li>
                        <li>Безплатна GDPR програма;</li>
                        <li>Бързо и качествено обслужване от нашите консултанти.</li>
                        <li> Отстъпки от обучения</li>
                    </ul>
                <h5 class="text--bold">Важно:</h5>
                <ol>
                    <li>Един абонамент може да се ползва от различни компютри.</li>
                    <li>Абонаментът позволява ползването на всички приложения от сайта. Не се изисква инсталация на допълнителен софтуер.</li>
                    <li>Ако вече сте абониран и направите нова заявка за абонамент,
                        която платите преди изтичането на активния Ви абонамент,
                        то периодът на Вашия нов абонамент ще започне от датата на приключване на стария,
                        независимо че сте платили преди това. Тоест няма да има припокриване и загуба на период за Вас,
                        защото периодите се натрупват.</li>
                </ol>


                <v-btn
                        color="primary"
                        @click="n++"
                >
                    Продължи
                </v-btn>

            </v-stepper-content>  <v-stepper-content

                    step="2"
            >

                    <h1 class="text-center">Аз съм</h1>
                    <v-layout>
                        <v-row>
                            <v-col class="col-md-4 text-center">
                                <v-card @click.native="Change_type()" >
                                        <v-card-title class="text-center">

                                             <v-icon   x-large color="blue">how_to_reg</v-icon>

                                        </v-card-title>
                                    <v-card-text>
                                        <h1>
                                        Счетоводител
                                        </h1>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                            <v-spacer></v-spacer>
                            <v-col class="col-md-4 text-center">
                                <v-card @click.native="n++" >
                                        <v-card-title >
                                            <h1 class="text-center">
                                             <v-icon   x-large color="blue">account_circle</v-icon>
                                            </h1>
                                        </v-card-title>
                                    <v-card-text>
                                        <h1>
                                        Друг потребител
                                        </h1>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-layout>
            </v-stepper-content>
            <v-stepper-content

                    step="3"
            >

                <h1 class="text-center">Малко информация</h1>

                    <v-select
                            :items="cities"
                            label="Населено място"
                            v-model="city"
                    ></v-select>
                <v-text-field
                        v-if="is_bookkeeper"
                    label="Организация"
                    v-model="organization"

                ></v-text-field>
                <v-text-field
                        v-else
                        label="Професия"
                        v-model="profession"
                ></v-text-field>



                <v-btn
                        color="primary"
                        @click="n++"
                >
                    Продължи
                </v-btn>

                <v-btn text>Отказ</v-btn>
            </v-stepper-content>
            <v-stepper-content

                    step="4"
            >

                    <h1 class="text-center">Начин на плащане</h1>

                    <app-checkout></app-checkout>
            </v-stepper-content>
        </v-stepper-items>
    </v-stepper>


    </v-container>
</template>

<script>
    import { createToken } from 'vue-stripe-elements-plus'
    import Checkout from "./Checkout"
    export default {
        name: "Subscription",
        components:{
          AppCheckout:Checkout
        },
        data:()=>({
           n:1,
            city:"",
            err:{
              has_error:false,
              msg:""
            },
            is_bookkeeper:false,
            organization:"",
            profession:"",
            cities:["Благоевград","Бургас",
                "Варна","Велико Търново",
                "Видин","Враца","Габрово",
                "Добрич","Кърждали","Кюстендил",
                "Ловеч","Монтана","Пазарджик",
                "Перник","Плевен","Пловдив",
                "Разград","Русе","Силистра",
                "Сливен","Смолян","Софийска област",
                "София","Стара Загора","Търговище",
                "Хасково","Шумен","Ямбол"]
        }),
        methods:{
            Change_type(){
                this.is_bookkeeper = true;
                this.n++;
            },
            pay(){
                let token = null;
                let app = this;
                createToken().then(data =>app.post('auth/subscribe',{
                    stripe_token:data.token,
                    is_bookkeeper:app.is_bookkeeper,
                    organization:app.organization,
                    profession:app.profession,
                    city:app.city,
                    is_subscribed:true
                }).then(()=>{
                    app.$router.push("/social")
                }).catch((err)=>{
                    console.log(err);
                    app.err.has_error = true;
                        app.err.msg = err.status;
                    })

                );

            }
        },
        created() {
            let app = this;
            this.$EventBus.$on('pay',()=>{
                app.pay();
            });
        }
    }

</script>

<style scoped>
.v-card:hover{
    cursor:pointer
}
</style>