<template>
    <v-container fluid>
        <h1 class="title">Новини</h1>
        <v-divider width="25%"></v-divider>
        <v-row justify="center" no-guuters>
            <template v-for="article in articles">
                <v-col lg="4" sm="12" :key="article.id">

                    <v-card

                    >

                        <v-img
                            height="200px"
                            width="100%"
                            :src="'/'+article.img"
                        >


                         </v-img>
                        <v-btn
                            fab
                            class="float-right"
                            color="white"
                            small
                            :to="'article/'+article.id"

                        >
                            <v-icon>
                                mdi-arrow-right
                            </v-icon>
                        </v-btn>
                        <v-card-title>{{article.title}}</v-card-title>
                        <v-card-subtitle>{{date(article.created_at)}}</v-card-subtitle>

                    </v-card>
                </v-col>
            </template>
        </v-row>
        <v-pagination
                    next-icon="mdi-chevron-right"
                    v-model="page"
                    :length="last_page"
                    prev-icon="mdi-chevron-left"
                    v-if="!home"
            ></v-pagination>
    </v-container>
</template>

<script>
let moment = require('moment');
    export default {
        name: "News",
        props:['home'],
        data:()=>({
            articles:[],
            page:1,
            last_page:null
        }),
        methods:{
             fetchNews(id=null,paginate=false){
              let app = this;
              if(id==null){
                      if(!paginate) {
                          this.get("/articles").then(function (resp) {
                              app.articles = resp.articles.data;
                              app.last_page = resp.articles.last_page;
                              app.$EventBus.$emit("news", resp.articles.data)
                          });
                      }
                      this.get("/articles?page="+this.page).then(function (resp) {
                          app.articles = resp.articles.data;
                          app.last_page = resp.articles.last_page;
                      });
              }
            },
            date(created_at){
                return moment(created_at,"YYYY");
            }
        },
        created() {
            this.fetchNews();
        },
        watch:{
             page(){
                this.fetchNews(null,true);
            }
        }

    }
</script>

<style scoped>

</style>
