<template>
    <v-container >
        <v-card
            flat
        >
            <v-card-title>Приложение № 29 към чл. 52а. Изисквания към софтуерите за управление на продажбите в търговски обекти!</v-card-title>
            <v-card-subtitle><v-icon>mdi-clock</v-icon>12.02.2020</v-card-subtitle>
            <v-row>

                    <v-img
                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                        height="50vh"
                    ></v-img>

                    <v-card-text>
                        Приложение № 29  към чл. 52а

                        Изисквания към софтуерите за управление на продажбите в търговски обекти

                        1. Софтуерът поддържа интерфейс на български език.

                        2. Софтуерът осигурява пълнота и интегритет на данните, създавани при използването му.

                        3. В случаите, в които софтуерът за управление на продажби в търговски обект представлява модул от софтуер, останалите модули не могат да имат дублираща функционалност за управление на продажбите или функционалност, целяща заобикаляне на изискванията в това приложение.

                        4. Софтуерът съдържа вградена при разработването му защита от промяна или добавяне, без оторизация от производителя/разпространителя, на външни модули, позволяващи промяна на функционалността на софтуера с цел заобикаляне на изискванията, посочени в настоящото приложение.

                        5. Софтуерът използва по възможност надежден източник на точно астрономическо време и задължително осигурява синхронизиране на времето между всяко работно място и използваното от него за печат ФУ.

                        6. Софтуерът има вградени контроли за задължително попълване на данни за потребителите (операторите) – уникален код на потребител (оператор) в рамките на системата, три имена, заемана длъжност, роля в системата, начало/край на периода на активност на потребителя (оператора) за всяка от присвоените му роли.

                        7. Софтуерът осигурява еднозначна автентикация на потребителите (операторите) при работа с него.

                        8. Софтуерът осигурява свързаност с ФУ по начин, позволяващ получаване в реално време на информация за статуса на ФУ. Софтуерът блокира операциите по откриване и приключване на продажба в случаите, когато статусът на ФУ не позволява издаване на ФБ. Когато в търговския обект има повече от едно работно място, софтуерът блокира операциите по откриване/приключване на продажби и подаване на команда към ФУ за генериране на Дневен отчет (Z-отчет) за конкретното работно място, за което са установени посочените обстоятелства.

                        9. При въвеждане в софтуера на информация за продажба софтуерът генерира уникален номер на продажбата (УНП), който се формира по следния начин:

                        Индивидуален номер на ФУ – Код на оператор – Пореден номер на продажбата.

                        Отделянето на елементите в уникалния номер на продажбата със знак „–“ е задължително. Пример за УНП: XXXХХХХХ–ZZZZ–0000001, където ХХХХХХXX – 8-разряден индивидуален номер на ФУ, присвоен от производителя, ZZZZ – 4-разряден код на оператора, въвел дан­ните за продажбата, съгласно номенклатурата на софтуера, 0000001 – 7-разряден пореден номер на продажбата, формиран поотделно за всеки индивидуален номер на ФУ. Номерът нараства възходящо със стъпка 1 за всяка продажба и съдържа само арабски цифри.

                        10. При плащане по въведена в софтуера продажба, за което съгласно изискванията на настоящата наредба следва да бъде издаден ФБ, софтуерът задължително подава към фискалното устройство уникалния номер на продажбата за включването му във ФБ. Когато плащанията по продажбата са повече от едно, уникалният номер на продажбата се включва в издавания ФБ за всяко плащане, включително и в Сторно-ФБ, ако такъв бъде издаден.

                        11. Софтуерът не допуска отпечатване на служебни бонове за направени клиентски поръчки в рамките на една продажба.

                        12. При анулиране (пълно или частично) на открита, но неприключена продажба софтуерът задължително съхранява в базата данни пълна информация за анулираната продажба – анулирани стоки/услуги, количество, стойност, оператор и др.

                        13. Софтуерът трябва да има надеждна защита от преднамерено или случайно изтриване или промяна на вече записани данни за приключени продажби:

                        • софтуерът няма вградена функционалност за изтриване на записи в базата данни;

                        • софтуерът позволява сторниране на приключени продажби (сторно-операции), като задължително съхранява сторнираните данни.

                        14. При създаване на документи, различни от фискален бон, софтуерът не допуска включване на текст, съдържащ думите „Фискален“, „Фискална“, „Фискално“, „Фискални“ или производни словосъчетания. Изискването не се отнася до наименованията на търговците, които при отпечатване се придружават от правно-организационната им форма и техния ЕИК, както и до вида на закупуваната стока.

                        15. Софтуерът поддържа информация в структуриран вид за следните изпълнени действия:

                        а) въвеждане/промяна на потребителите (операторите) на софтуера и присвоената им роля в системата – кой и кога е извършил действието и описание на промяната;

                        б) данни, свързани с действията (операциите) на потребителите (операторите) на системата:

                        – име на потребителя (оператора);

                        – код на потребителя (оператора);

                        – роля;

                        – дата и час на действието (операцията);

                        – вид на действието (операцията) – регистрират се като минимум следните действия (операции): влизане и излизане в/от системата (login/logout), сторниране, анулиране и промени в номенклатурите на софтуера; за действия (операции) „сторниране“ и „анулиране“ на продажба – и уникалният номер на продажбата.

                        16. Софтуерът осигурява визуализация през потребителски интерфейс на записаната по т. 15 информация с възможност за филтриране по един или няколко критерия: период, потребител (оператор), вид извършени действия, др.

                        17. Чрез потребителски интерфейс софтуерът осигурява достъп до създаваните чрез него данни в сроковете по чл. 38, ал. 1 от ДОПК. При архивиране на базата данни софтуерът осигурява създаване и поддържане на архив, както и достъп до архивните данни в сроковете по чл. 38, ал. 1 от ДОПК през потребителски интерфейс.

                        18. Софтуерът следва да осигурява чрез потребителски интерфейс визуализация и експорт на данни от базата данни в табличен вид, файлов формат XLS/XLSX или CSV, при прилагане на следните филтри: За търговец (при SaaS); За период (от дата до дата) и/или За търговски обект (всички или конкретно посочен), и/или За ФУ, на което са регистрирани продажбите (всички ФУ или конкретно ФУ), и/или За работно място (всички или конкретно посочено), и/или За оператор (всички или конкретно посочен). Експортираните данни са със следната структура:

                        18.1. Таблица – Обобщени данни за продажбите:

                        – уникален номер на продажба – съгласно т. 9;

                        – системен номер на продажбата, присвоен от софтуера;

                        – код и наименование на търговски обект;

                        – дата на откриване на продажбата;

                        – време на откриване на продажбата (час, минута, секунда);

                        – код на работно място;

                        – код на оператор;

                        – обща сума на продажбата – без ДДС, в лв.;

                        – отстъпка – в лв.;

                        – ДДС – сума – в лв.;

                        – дължима сума по продажбата – в лв.;

                        – фактура за продажбата – номер (ако е издадена фактура и в софтуера е налична информация);

                        – фактура за продажбата – дата (ако е издадена фактура и в софтуера е налична информация);

                        – дата на приключване на продажбата;

                        – време на приключване на продажбата (час, минута, секунда);

                        – клиент код (при наличие на въведена информация);

                        – клиент име (при наличие на въведена информация).

                        18.2. Таблица – Данни за плащанията по продажбите:

                        – уникален номер на продажба – съгласно т. 9;

                        – системен номер на продажбата, присвоен от софтуера;

                        – дата на откриване на продажбата;

                        – дата на приключване на продажбата;

                        – обща сума по продажбата – в лв.;

                        – дата на плащане;

                        – код на оператор, регистрирал плащането;

                        – платена сума без ДДС – в лв.;

                        – ДДС – сума – в лв.

                        – вид на плащането – съгласно номенклатурата в софтуера;

                        – индивидуален номер на ФУ, на което е издаден ФБ за плащането.

                        18.3. Таблица – Детайлни данни за продажбите:

                        – уникален номер на продажба – съгласно т. 9;

                        – системен номер на продажбата, присвоен от софтуера;

                        – код на стоката/услугата;

                        – наименование на стоката/услугата;

                        – количество;

                        – единична цена (без отстъпка) – без ДДС, в лв.;

                        – отстъпка (сума) – в лв.;

                        – ДДС ставка;

                        – ДДС – сума, в лв.;

                        – обща сума – в лв.

                        18.4. Таблица – Сторнирани продажби:

                        – уникален номер на продажба – съгласно т. 9;

                        – системен номер на продажбата, присвоен от софтуера;

                        – код на стоката/услугата;

                        – наименование на стоката/услугата;

                        – количество;

                        – единична цена (без отстъпка) – без ДДС, в лв.;

                        – отстъпка (сума) – в лв.;

                        – ДДС ставка;

                        – ДДС – сума, в лв.;

                        – обща сума – в лв.;

                        – дата на приключване на продажбата;

                        – време на приключване на продажбата (час, мин., сек.);

                        – дата на сторниране на продажбата;

                        – време на сторниране на продажбата (час, мин., сек.);

                        – индивидуален номер на ФУ, на което е издаден Сторно-ФБ;

                        – код на оператор, извършил сторнирането.

                        18.5. Таблица – Анулирани продажби:

                        – уникален номер на продажба – съгласно т. 9;

                        – системен номер на продажбата, присвоен от софтуера;

                        – код на анулираната стока/услуга;

                        – наименование на анулираната стока/услуга;

                        – количество;

                        – единична цена (без отстъпка) – без ДДС, в лв.;

                        – отстъпка (сума) – в лв.;

                        – ДДС ставка;

                        – ДДС – сума – в лв.;

                        – обща сума – в лв.;

                        – дата на откриване на продажбата;

                        – време на откриване на продажбата (час, мин., сек.);

                        – дата на анулиране на продажбата или на стоката/услугата;

                        – време на анулиране на продажбата или на стоката/услугата (час, мин., сек.);

                        – код на оператор, извършил анулирането.

                        18.6. Таблица – Обобщени данни за доставки (ако софтуерът разполага с функционалност за регистриране на доставки):

                        – ID на запис;

                        – дата на доставка;

                        – време (час, минута, секунда);

                        – код на оператор;

                        – доставчик – код;

                        – доставчик – име;

                        – фактура за доставка – №;

                        – фактура за доставка – дата;

                        – обща сума на доставката (без отстъпка), без ДДС – в лв.;

                        – отстъпка – в лв.;

                        – ДДС – сума – в лв.

                        – обща сума – в лв.;

                        – вид на плащането – съгласно номенклатурата в софтуера.

                        18.7. Таблица – Детайлни данни за доставки (ако софтуерът разполага с функционалност за регистриране на доставки):

                        – ID на запис – съвпада с ID на запис от таблицата с обобщени данни за доставки;

                        – код на стоката/услугата;

                        – наименование на стоката/услугата;

                        – количество;

                        – единична цена (без отстъпка) – в лв.;

                        – отстъпка (сума) – в лв.;

                        – ДДС сума – в лв.;

                        – обща сума – в лв.

                        18.8. Таблица – Движение на стоки за период (ако софтуерът разполага с функционалност за проследяване движението на стоките):

                        – код на стоката;

                        – наименование на стоката;

                        – количество в началото на периода;

                        – обща стойност в началото на периода – в лв.;

                        – дебитен оборот за периода – количество;

                        – дебитен оборот за периода – стойност, в лв.;

                        – кредитен оборот за периода – количество;

                        – кредитен оборот за периода – стойност, в лв.;

                        – количество в края на периода;

                        – обща стойност в края на периода – в лв.

                        18.9. Таблици с номенклатури на:

                        – стоки/услуги – код, наименование, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране;

                        – доставчици – идентификатор (ЕИК, друг), имена, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране (ако софтуерът разполага с функционалност за въвеждане на доставчици);

                        – клиенти – идентификатор (ЕИК, друг), имена, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране (ако софтуерът разполага с функционалност за въвеждане на клиенти);

                        – видове операции (действия) – код, наименование, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране;

                        – видове плащания – код, наименование, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране;

                        – търговски обекти – код, наименование, местонахождение, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране;

                        – работни места – код, търговски обект, в който се намира, индивидуален номер на свързаното към него ФУ, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране;

                        – потребители (оператори) – уникален код в системата, имена по документ за самоличност, дата на първоначално конфигуриране в системата, дата на последна промяна, дата на деактивиране; присвоени роли и период на активност за всяка от тях, други въведени данни;

                        – роли на потребителите (операторите) на софтуера – код, наименование, права, дата на конфигуриране/деактивиране; извършени промени в присвоените права на всяка роля – дата и извършени промени;

                        – права, присвоявани на ролите – код, наименование, описание, дата на конфигуриране/деактивиране.

                        Допуска се предоставянето на алтернативни номенклатурни таблици, които като обхват на съдържащата се в тях информация съответстват на посочените в т. 18.9.

                        19. За целите на контролната дейност на НАП всеки софтуер следва да има конфигуриран „одиторски профил“ по аналог с администраторския профил, но с права само за четене. Одиторският профил трябва да предоставя като минимум следните възможности:

                        – достъп до функционалността на софтуера съгласно т. 16, 17 и 18 (при SaaS – за съответния търговец);

                        – достъп до конфигурационните параметри на софтуера (при SaaS – за съответния търговец);

                        – пълен достъп до справочната част на софтуера (при SaaS – за съответния търговец).

                        20. Софтуерът не притежава възможност за работа в тестови режим, режим за обучение или друг подобен.

                        21. Когато софтуерът е част от или е свързан с интегрирана информационна система за управление на продажбите/търговската дейност на лицето по чл. 3 и използваната технология за реализацията му не позволява изпълнението на всички или на част от изискванията по т. 16, 17, 18 и 19, изпълнението на тези изисквания следва да бъде осигурено чрез функционалността на интегрираната система.“

                        § 60. Създава се приложение № 30 към чл. 52в, ал. 1:

                        Източник:https://dv.parliament.bg/DVWeb/showMaterialDV.jsp?idMat=130338
                    </v-card-text>

            </v-row>

        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "NewsInfo"
    }
</script>

<style scoped>

</style>
