a {

	outline: none !important;

}


.bb {
	border:1px solid #000;
}
.padding {
	nopadding:0px;
}
:focus {

	-moz-outline-style: none !important;

}



:-moz-any-link:focus {

	outline: 1px dotted invert;

}



:-moz-any-link:focus {

	outline: none !important;

}



:-moz-any-link:focus {

	outline: none !important;

}



:focus {

	outline: none !important;

}



button,

input[type="button"],

input[type="reset"],

input[type="submit"] {

	outline: none !important;

}



button::-moz-focus-inner,

input[type="button"]::-moz-focus-inner,

input[type="file"] > input[type="button"]::-moz-focus-inner,

input[type="reset"]::-moz-focus-inner,

input[type="submit"]::-moz-focus-inner {

	padding: 0;

	border: 1px dotted transparent;

}



a {

	-o-transition: 0.1s;

	-ms-transition: 0.1s;

	-moz-transition: 0.1s;

	-webkit-transition: 0.1s;

	transition: 0.1s;

}



@media (max-width: 769px) {

	.navbar-header {

		float: none;

	}

	.navbar-toggle {

		display: block;

	}

	.navbar-collapse {

		border-top: 1px solid transparent;

		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

	}

	.navbar-collapse.collapse {

		display: none !important;

	}

	.navbar-nav {

		float: none !important;

		margin: 7.5px -15px;

	}

	.navbar-nav > li {

		float: none;

	}

	.navbar-nav > li > a {

		padding-top: 10px;

		padding-bottom: 10px;

	}

	.navbar-text {

		float: none;

		margin: 15px 0;

	}

	/* since 3.1.0 */

	.navbar-collapse.collapse.in {

		display: block !important;

	}

	.collapsing {

		overflow: hidden !important;

	}

	.navbar .dropdown-menu {

		background-color: transparent;

		border: medium none;

		border-radius: 0 0 0 0;

		box-shadow: none;

		float: none;

		left: auto;

		margin: 0 15px;

		max-width: none;

		padding: 0;

		position: static;

		top: auto;

	}

}



.nopadding {

	padding: 0;

}



.nomargin {

	margin: 0;

}



.noborder {

	border: none;

	border-radius: 0;

}



.margin-auto {

	margin: 0 auto;

}



.cd-top.cd-fade-out,

.cd-top.cd-is-visible,

.no-touch .cd-top:hover {

	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;

	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;

	transition: opacity 0.3s 0s, visibility 0s 0s;

}



.cd-top.cd-is-visible {

	/* the button becomes visible */

	visibility: visible;

	opacity: 1;

}



.cd-top.cd-fade-out {

	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */

	opacity: 0.5;

}



/***** END Back To Top *****/

.col-lg-15,

.col-md-15,

.col-sm-15,

.col-xs-15 {

	position: relative;

	min-height: 1px;

	padding-right: 15px;

	padding-left: 15px;

}



.col-xs-15 {

	width: 20%;

	float: left;

}



@media (min-width: 768px) {

	.col-sm-15 {

		width: 20%;

		float: left;

	}

	.services-item {

			border: 1px solid #e6e6e6;

			background: #FFF;

			border-radius: 0px;

			margin-bottom: 30px;

	}

}



@media (min-width: 992px) {

	.col-md-15 {

		width: 20%;

		float: left;

	}

	.services-item {

			border: 1px solid #e6e6e6;

			background: #FFF;

			border-radius: 0px;

			margin-bottom: 30px;

	}

}



@media (min-width: 1200px) {

	.services-item {

	    border: 1px solid #e6e6e6;

	    background: #FFF;

	    border-radius: 0px;

	    margin-bottom: 30px;

	}

	.col-lg-15 {

		width: 20%;

		float: left;

	}

	.box {
		width: 380px;
		margin-right: 10px;
	}
	.box1 {
		width: 389px;
	}
}



/* USAGE

<div class="row">

  <div class="row-height">

    <div class="col-xs-2 col-xs-height col-xs-middle">

      <div class="inside"></div>

    </div>

    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">

      <div class="inside"></div>

    </div>

  </div>

</div>

*/

/* content styles */

.inside {

	margin-top: 15px;

	margin-bottom: 15px;

}



.inside-full-height {

	/*

    // if you want to give content full height give him height: 100%;

    // with content full height you can't apply margins to the content

    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100

    */

	height: 100%;

	margin-top: 0;

	margin-bottom: 0;

}



/* columns of same height styles */

.row-height {

	display: table;

	table-layout: fixed;

	height: 100%;

	width: 100%;

}



.col-height {

	display: table-cell;

	float: none;

	height: 100%;

}



.col-top {

	vertical-align: top;

}



.col-middle {

	vertical-align: middle;

}



.col-bottom {

	vertical-align: bottom;

}



@media (min-width: 480px) {

	.row-xs-height {

		display: table;

		table-layout: fixed;

		height: 100%;

		width: 100%;

	}

	.col-xs-height {

		display: table-cell;

		float: none;

		height: 100%;

	}

	.col-xs-top {

		vertical-align: top;

	}

	.col-xs-middle {

		vertical-align: middle;

	}

	.col-xs-bottom {

		vertical-align: bottom;

	}

}



@media (min-width: 768px) {

	.row-sm-height {

		display: table;

		table-layout: fixed;

		height: 100%;

		width: 100%;

	}

	.col-sm-height {

		display: table-cell;

		float: none;

		height: 100%;

	}

	.col-sm-top {

		vertical-align: top;

	}

	.col-sm-middle {

		vertical-align: middle;

	}

	.col-sm-bottom {

		vertical-align: bottom;

	}

}



@media (min-width: 992px) {

	.row-md-height {

		display: table;

		table-layout: fixed;

		height: 100%;

		width: 100%;

	}

	.col-md-height {

		display: table-cell;

		float: none;

		height: 100%;

	}

	.col-md-top {

		vertical-align: top;

	}

	.col-md-middle {

		vertical-align: middle;

	}

	.col-md-bottom {

		vertical-align: bottom;

	}

}



@media (min-width: 1200px) {

	.row-lg-height {

		display: table;

		table-layout: fixed;

		height: 100%;

		width: 100%;

	}

	.col-lg-height {

		display: table-cell;

		float: none;

		height: 100%;

	}

	.col-lg-top {

		vertical-align: top;

	}

	.col-lg-middle {

		vertical-align: middle;

	}

	.col-lg-bottom {

		vertical-align: bottom;

	}

}

.head-top {

	background: #3d5b9a;

	padding: 7px 0;

}



.head-top .information {

	padding-right: 20px;

}

.logo {
	padding-top: 5px;
	width: 200px;
}


@media (max-width: 549px) {

	.head-top .information {

		float: none !important;

		text-align: center;

	}

}



.head-top .information a {

	color: #fff;

	text-transform: uppercase;

	font-family: 'Montserrat';

	font-weight: 400;

	font-size: 12px;

}



.head-top .information a:hover {

	text-decoration: none;

}



@media (max-width: 549px) {

	.head-top .information a {

		display: block;

		text-align: center;

	}

}

#home .swiper-container {

	width: 100%;

}

.head-top .information .fa-envelope {

	font-size: 16px;

	margin-right: 5px;

	color: #FFFFFF;

}



.head-top .information .fa-phone {

	font-size: 16px;

	color: #FFFFFF  ;

	margin-left: 10px;

	margin-right: 5px;

}



.head-top .socials {

	margin-top: 4px;

}



@media (max-width: 549px) {

	.head-top .socials {

		float: none !important;

		text-align: center;



	}

}



.head-top .socials a {

	font-size: 19px;

	color: #fff;

}



.head-top .socials i {

	margin: 0 6px;

}



.head-top .flags a {

	color: #Fff;

}



.head-top .flags .languages {

	min-width: 70px !important;

	padding: 0 5px;

}



.head-top .flags .languages a {

	color: #000;

}



.head-top .flags img {

	width: 22px;

	height: 22px;

	margin-top: 6px;

}



.nav-menu {

	margin-bottom: 0;

	border-bottom: none;

  background: #FFF;

}



@media (max-width: 767px) {

	.nav-menu {

		margin-top: 0;

	}

}

.nav-menu img {

	max-width: 150px;

}



@media (max-width: 767px) {

	.nav-menu img {

		width: 220px;

	}

}

.navbar-brand {

    float: left;

    height: 50px;

    padding:0;

    font-size: 18px;

    line-height: 20px;

}



.nav-menu .navbar-nav {

	margin-top: 7px;

}



.nav-menu ul li a {

	font-family: 'Montserrat', sans-serif;

	font-weight: 600;

	color: #262626;

	text-transform: uppercase;

	font-size: 13px;
}



@media (max-width: 1199px) {

	.nav-menu ul li a {

		font-size: 11px;

		margin-left: 0px;

	}

}



@media (max-width: 767px) {

	.nav-menu ul li a {

		font-size: 13px;

		padding-bottom: 2px;

	}

}



.nav-menu ul li a:focus {

	background: none !important;

}



.nav-menu ul li a:hover {

	background: none !important;

}



@media (max-width: 767px) {

	.nav-menu ul li a:hover {

		border-bottom: none;

		color: #1a7dd7;

	}

}



@media (min-width: 767px) {

	.nav-menu ul li a::after {

		content: '';

		display: block;

		width: 0;

		height: 2px;

		background: gray;

		transition: width .3s;

		position: absolute;

		bottom: -2px;

		left: 0;

	}

	.nav-menu ul li a:hover::after {

		width: 100%;

	}

}



.nav-menu .dropdown-toggle:focus {

	background: none !important;

}



.nav-menu .dropdown-menu {

	margin-right: -39px;

}



@media (max-width: 767px) {

	.nav-menu .dropdown-menu {

		margin-right: 0;

	}

}



.nav-menu .dropdown-menu li a {

	margin-left: 0;

	font-size: 13px;

	padding-bottom: 4px;

	padding-top: 5px;

}



.nav-menu .dropdown-menu li a:hover {

	border-bottom: none;

	color: #1a7dd7;

}



@media (max-width: 767px) {

	.nav-menu .dropdown-menu li a {

		font-size: 10px;

		padding: 1px 15px 5px 4px !important;

	}

}



.nav-menu .dropdown-menu li a::after {

	content: '';

	background: none;

}



.nav-menu .active {

	border-bottom: 2px solid #1a7dd7;

	color: #000;

}



@media (max-width: 767px) {

	.nav-menu .active {

		border-bottom: none;

		color: #1a7dd7;

	}

}



.nav-menu .navbar-toggle {

	margin-top: 13px;

}



.nav-menu .icon-bar {

	background: #1a7dd7;

}



.navbar-fixed-top {

	background: #fff;

	-webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.2);

	-moz-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.2);

	box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.2);

	margin-top: 0;

}

.slider{

	background-image: url("img/services2.jpg");
height: 580px;
background-size: cover;
}

@media (max-width : 1200px) {

	.services-item {

			border: 1px solid #e6e6e6;

			background: #FFF;

			border-radius: 0px;

			margin-bottom: 30px;

	}

}

@media (min-width: 1200px){

	.services-box .icon{

color:#FFF;

text-align: center;

font-size: 40px;

padding-top: 20px;

	}

	.services-box {

		background: #243242;

		width: 360px;

		height: 200px;

		margin-bottom:20px;

		border-radius: 2px;

		margin-left: 20px;

	}

	.services-box h1{

		color:#FFF;

		text-align: center;

	}



	.services-box h1 a{

		color:#FFF;

		text-align: center;

		text-decoration: none;

	}

  .slider-global {

    background: rgba(68,68,68, 0.5);

    padding-left: 20px;

    border-radius: 4px;

    margin-top: 100px;

		padding-bottom: 20px;

  }

	.services-item {

			border: 1px solid #e6e6e6;

			background: #FFF;

			border-radius: 0px;

			margin-bottom: 30px;

	}

	.services-item span {

	  font-family: 'Montserrat', sans-serif;

	  font-size: 15px;

	  font-weight:lighter;

	  text-align: center !important;

	  display: block;

		height: 120px;

	  padding-left: 15px;

	  padding-right: 15px;

	  padding-bottom: 30px;

	  color: #758382;

	}

	.services-item .info-services {

	  background: #72a0cb;

	  padding-bottom: 30px;

		height: 350px;

	}

.title-slider p {

    font-size: 45px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;

    color: #FFF;

}

.title-slider strong {

    font-size: 50px;

    font-family: 'Montserrat', sans-serif;

    font-weight: lighter;

    color: #FFF;

	  text-shadow: 0px 0px 7px rgba(225, 225, 225, 0.75);

}

}

.title-slider .info {

    font-family: 'Montserrat', sans-serif;

    font-size: 18px;

    font-weight: 300;

    color: #FFF;

}

.title-slider span {

    font-family: 'Montserrat', sans-serif;

    font-size: 21px;

    font-weight: 400;

    color: #FFF;

    display: block;

}

.slider-global {

  background: rgba(68,68,68, 0.5);

  padding-left: 20px;

  border-radius: 4px;

}

.fa-check-square  {

    font-size: 22px;

    margin-right: 5px;

    color: #3d5b9a;

}

.btn {

    background: #3d5b9a;

    padding: 7px 15px 7px 15px;

    border-radius: 0px;

    color: #FFF;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    margin-top: 10px;

    font-size: 14px;

    margin-bottom: 15px;

		border:1px solid #3d5b9a;

}

.services {

  background-image: url("img/services.jpg");

  background-size: cover;

  padding-top: 70px;

}

.services-item .icon{

	text-align: center;

	display: block;

	font-size: 50px;

		margin: 0 auto;

		padding-top: 35px;

		color:#758382;

}

.services-item {

  border:1px solid #e6e6e6;

  background: #FFF;

  border-radius: 0px;

  margin-bottom: 30px;

	margin-left: 10px;

	width: 365px;

}



.services-item img{

  width: 60px;

  display: block;

    margin: 0 auto;

    padding-top: 35px;

}

.services-item h1 {

  font-family: 'Montserrat';

  font-size: 21px;

  font-weight: 400px !important;

  text-align: center;

  color: #758382;

}

.services-item span {

  font-family: 'Montserrat', sans-serif;

  font-size: 15px;

  font-weight:lighter;

  text-align: center !important;

  display: block;

  padding-left: 15px;

  padding-right: 15px;

  padding-bottom: 30px;

  color: #758382;



}

.services-item .info-services {

  background: #72a0cb;

  padding-bottom: 30px;

}

.services-item .info-services1 {

  background: #7177a6;

  padding-bottom: 30px;

}

.services-item .info-services2 {

  background: #768da9;

  padding-bottom: 30px;

}

.services-item .info-services ul li{

  color:#FFF;

  font-family: 'Montserrat', sans-serif;

  font-size: 15px;

  font-weight: lighter;

  display: block;

  padding-top: 20px;

  padding-right: 15px;

}

.services-item .info-services1 ul li{

  color:#FFF;

  font-family: 'Montserrat', sans-serif;

  font-size: 15px;

  display: block;

  font-weight: lighter;

  padding-top: 20px;

  padding-right: 15px;

}

.services-item .info-services2 ul li{

  color:#FFF;

  font-family: 'Montserrat', sans-serif;

  font-size: 15px;

  display: block;

  font-weight: lighter;

  padding-top: 20px;

  padding-right: 15px;

}

.services-item .info-services ul li i{



}

.btn-services {

  background: #FFF;

  border-radius: 2px;

  color:#758382;

  font-family: 'Montserrat', sans-serif;

  font-weight: 400;

  font-size: 14px;

  width: 150px;

  padding: 5px;

  text-align: center;

  margin: 0 auto;

  margin-top: 20px;

}

.btn-services a{

  text-align: center;

  text-decoration: none;

  color:#758382;

}

.why-global {

  background: #FFF;

}

.why p {

    color:#232220;

    font-family: 'Montserrat', sans-serif;

    font-size: 16px;

    font-weight: lighter;

  }



	.why ul li {

	    color:#232220;

	    font-family: 'Montserrat', sans-serif;

	    font-size: 16px;

	    font-weight: lighter;

	  }

.why h1 {

  color:#232220;

  padding-top: 20px;

  font-family: 'Montserrat', sans-serif;

  font-size: 30px;

  font-weight: 300px;

}

.why h2 {
  color:#232220;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300px;
	text-align: center;
}

.why  {

  margin-top:20px;

}

.why .hr {

  background: #3d5b9a;

  height: 2px;

  width: 220px;

  margin-bottom: 30px;

}

.why .hr11 {
  background: #3d5b9a;
  height: 2px;
  width: 220px;
  margin-bottom: 30px;
	margin:0 auto;
}

.footer {

  background: #f2f2f2;

  padding-top: 20px;
	padding-bottom: 10px;
}



.footer p {

  font-family: 'Montserrat', sans-serif;

  font-weight: 400;

  font-size: 12px;

  color: #fff;

  margin-bottom: 20px;

}



.footer a {

  display: inline-block;

font-family: 'Montserrat', sans-serif;

  font-weight: 400;

  font-size: 16px;

  color: #616161;

  padding: 0 15px;

	text-decoration: none;
  margin-bottom: 10px;

}


.footer a: hover {

  display: inline-block;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #616161;;
  padding: 0 15px;
	text-decoration: none;
  margin-bottom: 10px;
}

@media (max-width : 1200px) {



	  .title-slider p{

	    font-size: 24px;

	    font-family: 'Montserrat', sans-serif;

	    font-weight: 400;

	    color:#FFF;

			 text-shadow: 0px 0px 7px rgba(225, 225, 225, 0.75);

	  }

	  .title-slider strong{

	    font-size: 27px;

	    font-family: 'Montserrat', sans-serif;

	    font-weight: bold;

	    color:#1a7dd7;

	  }

		.slider-global {

			margin-top: 10px;

			padding-bottom: 10px;

		}

}



.contact-form h4{

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;

	font-size: 40px;

		color:#2a2d2f;

		padding-top: 50px;

		font-size: 14px;
}

.contact-form p{

		font-family: 'Montserrat', sans-serif;

	font-weight: 400;

	font-size: 14px;

	color:#788286;

	width: 650px;

	padding-bottom: 30px;

}

.contact-form-btn {

  font-family: 'Montserrat', sans-serif;

  font-size: 20px;

  background: #3d5b9a;

  padding: 2px 60px 2px 60px;

  float: right;

  border-radius: 5px;

  color:#FFF;

  margin-bottom: 20px;

}

.contact-form-btn:hover {

  text-decoration: none;

  color: #FFF;

}

.contact-form{

  padding-bottom: 60px;

}

.form-control {
    border-radius: 0px;
    border: 1px solid #ced1d2;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #3d5b9a;
		height: 40px;
		margin-bottom: 10px;
		margin-top: 6px;
}

.form-control-textarea {
    border-radius: 0px;
    border: 1px solid #ced1d2;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
		padding-left: 10px;
    color: #2a2d2f;
		padding-left: 10px;
    width: 100%;
    height: 200px;
		margin-top: 6px;
}

.form-control1 {

    border-radius: 5px;

    border: 1px solid #ced1d2;

    text-shadow: none;

    -webkit-box-shadow: none;

    box-shadow: none;

    font-family: 'Montserrat', sans-serif;

    font-size: 13px;

    font-weight: 300;

		padding-left: 10px;
    color: #3d5b9a;

		height: 40px;
		width: 100%;
		margin-bottom: 20px;
}

.form-control-textarea1 {

    border-radius: 5px;

    border: 1px solid #ced1d2;

    text-shadow: none;

    -webkit-box-shadow: none;

    box-shadow: none;

    font-family: 'Montserrat', sans-serif;

    font-size: 13px;

    font-weight: 400;

		padding-left: 10px;

    color: #2a2d2f;

    width: 100%;

    height: 200px;

		margin-bottom: 20px;
}

.contact-form-btn {

    font-family: 'Montserrat', sans-serif;

    font-size: 18px;

    font-weight: 400;

    background: #444444;

    padding: 10px 60px 10px 60px;

    float: right;

    border-radius: 0px;

    color: #FFF;

    border: 0px;

}

.cont-info h1{

  font-family: 'Montserrat', sans-serif;

  font-size: 18px;

  font-weight: 400;

  color:#3d5b9a;

  text-align: center;

  margin-top: 0px !important;

}

.cont-info strong{

  font-family: 'Montserrat', sans-serif;

  font-size: 14px;

  font-weight: 400;

  color:#3d5b9a;

  text-align: center;

  margin-top: 0px !important;

  display: block;

  padding-bottom: 5px;

  border-bottom:1px solid #3d5b9a;

  margin-bottom: 10px;

}

.cont-info span{

  font-family: 'Montserrat', sans-serif;

  font-size: 13px;

  font-weight: 300;

  color:#3d5b9a;

  margin-top: 0px !important;

  display: block;

  padding-top: 5px;

  padding-bottom: 5px;

  padding-left: 20px;

}

.panel-default {

  border-radius:0px !important;

  box-shadow: 0px;

}

.panel {

  border-radius:0px !important;

  box-shadow: 0px;

}

.panel-heading {

	background: #3d5b9a

}

.panel-heading h4{

  font-family: 'Montserrat', sans-serif;

  font-size: 16px;

  font-weight: 400;

  color:#FFF;



}

.panel-heading h4 a:hover{

text-decoration: none;

color:#FFF;

}

.panel-body {

  font-family: 'Montserrat', sans-serif;

  font-size: 14px;

  font-weight: 400;

}

.panel-default > .panel-heading {

    color: #FFF;

    background-color: #3d5b9a;

    border-color: #3d5b9a;

		border-radius: 0px;

}

.h1, .h2, .h3, h1, h2, h3 {

    margin-top: 0px;

    margin-bottom: 10px;

}

#breadcrumb span a {color: #3d5b9a; text-decoration: none; font-size: 13px; font-family: 'Montserrat', sans-serif;}



.head-navbar {



	border: none;



	background: #243242;



	border-radius: 0px;



	margin-bottom: 0px;







}



.head-navbar .navbar-collapse {padding-left: 0px;}



.head-navbar a {



	color: #FFF !important;



	font-family: 'Montserrat', sans-serif;



  font-size: 12px;



 font-weight: 500;



      color: #fff;



      text-transform: uppercase;



}



.head-navbar ul li a.active, .head-navbar ul li a:hover { background: #FFF !important; color:#243242;}







.head-navbar .navbar-toggle {



	border:none;



	border-radius: 0px;



	margin-right: 10px;



}



.head-navbar .dropdown-menu {



	border-radius: 0px;



	border: none;



	background: #243242;



  	font-family: 'Montserrat', sans-serif;



    padding-left: 20px;



	}







@media (min-width : 1200px) {



  .teacherprofil {



    width: 170px;



    height: 250px;



    border:1px solid #ccc;



    margin-left: 15px;



    margin-top: 10px;



    text-align: center;



  }



  .teacherprofil strong {



    font-family: 'Montserrat', sans-serif;



    font-size: 12px;



    font-weight:300px;



    text-align: center;



  }



  .gallery11 {



    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */



  min-height: 20vh; /* These two lines are counted as one :-)       */



  display: flex;



  align-items: center;



  }



  .gallery11 img {



    padding-top: 10px;



    margin: 0 auto;



    display: block;



  }



  .gallery {



    max-height:200px;



  }



  .gallery img {



    padding-top: 10px;



  }



  .search{



    padding-top: 10px;



    padding-bottom: 10px;



    padding-left: 30px;



  }



  .album span{



    font-family: 'Montserrat', sans-serif;



    font-size: 12px;



    font-weight: 300;



    text-align: center;



    color:#243242;



  }



  .album img{



    width: 230px;



    height: 170px;



  }



  .album {



    height: 270px;



  }



  .boxnews{



    width: 350px;



    margin-right: 30px;



  }



  .boxnews-news{



    width: 350px;



    margin-right: 20px;



    margin-top: 10px;



  }



  .boxnews-news img {



    width: 350px !important;



    height: 240px;



  }







  .boxevent{



    width: 350px;



  }



  .boxgallery{



    width: 390px;



  }



}



@media (max-width : 992px) {







}



@media (max-width : 767px) {



  .navbar-nav > li > a {



    padding-left: 30px;



}



}







.head-navbar .dropdown-menu a { font-size: 14px; padding-left: 10px;}



.head-navbar ul li:hover > a { background: #243242 !important; color:#FFF}



.head-navbar ul li a:focus { background: #243242 !important;}



.head-navbar .navbar-toggle { margin-top: 12px;}



.head-navbar .navbar-toggle:hover,



.head-navbar .navbar-toggle:focus { background: none;}



.head-navbar .navbar-toggle .icon-bar {



	background: #FFF !important;



	height: 3px;



	width: 30px;



}

#map_canvas {
  margin-bottom: 20px;
}

#map-partners ul {
  list-style: none;
}

#map-partners ul li {
  cursor: pointer;
  display: none;
}

#map-partners ul li a {
  border-radius: 0;
  margin-bottom: 10px;
  color: #f4f6fa;
  text-transform: uppercase;
}
.contact-form{
  padding-bottom: 60px;
}
.contact-form-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #3d5b9a;
  padding: 2px 60px 2px 60px;
  float: right;
  border-radius: 0px;
  color:#FFF;
  border:0px;
}
.contact-form-btn:hover {
  text-decoration: none;
  color: #FFF;
}
.contact-form-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: #3d5b9a;
    padding: 10px;
    float: right;
    border-radius: 0px;
    color:#FFF;
    margin-bottom: 20px;
  }
  .form-control-textarea {
    border-radius: 0px;
    border:1px solid #ced1d2;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:#2a2d2f;
    width: 100%;
    height: 200px;
  }
  .contact-form h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
      color:#2a2d2f;
      padding-top: 50px;
  }
  .contact-form p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#788286;
    padding-bottom: 30px;
  }
	.contact-form{
	  padding-bottom: 60px;
	}
	.reg h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		color:#000;
	}
	.reg span {
		font-family: 'Montserrat', sans-serif;
		font-size: 21px;
		color:#1d2129;
	}
	#gender {
		font-family: 'Montserrat', sans-serif !important;
		font-size: 14px !important;
		color:#1d2129 !important;
	}
	.form-control-reg {
    border-radius: 4px;
    border: 1px solid #99a6bf;
    text-shadow: none;
		height: 35px;
		margin-top: 10px;
		margin-bottom: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
		width: 100%;
		padding: 10px;
    font-weight: 300;
    color: #3d5b9a;
}
	.contact-form1 span {
		font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#788286;
	}
	.partners {
		border:1px solid #3d5b9a;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 390px;
	}
	.partners h1 {
		font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color:#3d5b9a;
		text-align: center
	}
	.partners img {
		margin:0 auto;
	}
	.partners span {
		font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:#3d5b9a;
		text-align: center;
		display: block;
	}
	.business h1 {
		background: #3d5b9a;
		color:#fff;
		font-family: 'Montserrat', sans-serif;
		padding: 5px 0px 5px 10px;
		font-size: 20px;
	}
	.business span {
		font-family: 'Montserrat', sans-serif;
		color:#000;
		font-size: 16px;
		display: block;
	}
	.business span {
		color:#1c6b45
	}
	.business span a{
		font-family: 'Montserrat', sans-serif;
		color:#000;
		font-size: 16px;
		text-decoration: none;
	}
.kursove span a{
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.kursove span{
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.kursove{
	padding-bottom: 10px;
}
.top-rated {
	margin-top: 20px;
	margin-bottom: 20px;
}
.box h2 {
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-top: 10px;
}
.box1 h2 {
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-top: 10px;
}
.box p {
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.box h3 {
	color:#616161;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	font-weight: 400;
}
.box span {
	color:#616161;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: none;
	display: block;
	padding-top: 10px;
}
.box1 p {
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.box1 h3 {
	color:#616161;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	font-weight: 400;
}
.box1 span {
	color:#616161;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: block;
	padding-top: 10px;
	text-transform: none;
}
.box .btn-box{
	background: #0067b8;
	padding: 10px;
	color:#FFF;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;

}
.box .btn-box a{
	background: #0067b8;
	text-decoration: none;
	color:#FFF;

}
.box1 .btn-box1 {
	background: #0067b8;
	padding: 10px;
	color:#FFF;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.box1 .btn-box1 a {
	background: #0067b8;
	color:#FFF;
	text-decoration: none;
}
.content {
	min-height: 800px;
}
.loggedin {
	margin-top:15px;
	margin-bottom: 10px;
	margin-bottom: 33px;
	float: right;
}
.loggedin span {
	color:#000;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.loggedin span li a {
	color:#000;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
.loggedin span ul li {
	color:#000;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
.custom-radio {
	color:#616161;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.contact-form-btn-reg {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #3d5b9a;
  padding: 2px 60px 2px 60px;
  border-radius: 2px;
  color:#FFF;
	border:0px;
  margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}
.profil span {
	font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.form-inline {
	margin-bottom: 23px;
}
.contact-info-form {
	margin-top: 30px;
}
.contact-info-form strong{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px !important;
}
.contact-info-form span{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-bottom: 10px !important;
}
.mobile-visible {
	padding-bottom: 100px;
}
.post-slide {
    margin: 0px 0px 10px 0px;
    position: relative;
    background: #FFF;
}
.post-slide .post-img {
    position: relative;
    overflow: hidden;
}
.post-slide .post-img img {
    width: 100%;
    height: auto;
}
.post-slide .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.30s ease;
}
.post-slide:hover .over-layer {
    opacity: 1;
}
.post-slide .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}
.post-slide .post-link li {
    display: inline-block;
    list-style: none;
    margin: -9px 0 0;
}
.post-slide .post-link li a {
    color: #FFF;
    font-size: 39px;
}
.post-slide .post-link li a:hover {
    color: #FF8B3D;
    text-decoration: none;
}
.post-slide .post-date {
    position: absolute;
    top: 10%;
    left: 4%;
}
.post-slide .date {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background: #3d5b9a;
    float: left;
}
.post-slide .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 20px;
    font-weight: bold;
    background: #FF8B3D;
}
.post-slide .post-content {
    padding: 30px;
    background-color: #F5F5F6;
}
.post-slide .post-title {
    margin: 0 0 15px 0;
}
.post-slide .post-title a {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
    text-decoration: none;
    color: #FF8B3D;
}
.post-slide .post-description {
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    padding: 0 0 10px 0;
}
.post-slide .read-more {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 0.20s linear;
}
.post-slide .read-more:hover {
    text-decoration: none;
    color: #FF8B3D;
}
.post-slide .read-more:after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    border: 1px solid #FF8B3D;
    transition: all 0.30s ease;
}
.post-slide .read-more:hover:after {
    width: 100%;
}
@media only screen and (max-width: 479px) {
    .post-slide .month {
        font-size: 14px;
    }
    .post-slide .date {
        font-size: 14px;
    }
}
div.clanky .row {
    padding-top: 35px;
}
.nav-color {
	background: #3d5b9a;
}
.forum h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom:1px solid #999999;
}
.forum h1 a{
	text-decoration: none;
	color: #000;
}
.forum p{
	text-decoration: none;
	color: #000;
	text-align: justify;
}
.forum strong {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}
.cookies-info {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background: #002a5f;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    z-index: 999;
    font-family: 'Source Sans Pro', sans-serif;
}
.cookies-info a{
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  z-index: 999;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: underline;
}
.close-cookies {
  color: #fff;
  font-size: 16px;
}
.privacy-policy {
  color: #FFF !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-align: center !important;
  margin:0 auto;
  width: 100px;
  display: block;
}
.privacy-policy a{
  color: #FFF !important;
  text-decoration: none;
}
.privacy-policy a:hover{
  color: #FFF !important;
  text-decoration: underline;
}
