<template>
<!--    <div>-->
<!--        <v-card>-->

<!--        <v-img :src="event.image" :alt="event.name"></v-img>-->
<!--        <v-card-title>{{event.name}}</v-card-title>-->
<!--        <v-card-text>{{event.event_date}} {{event.event_time}}</v-card-text>-->
<!--            <v-card-actions>-->
<!--                <v-btn text color="primary">Info </v-btn>-->
<!--            </v-card-actions>-->
<!--        </v-card>-->
<!--        <br>-->
<!--    </div>-->
    <div>
        <v-carousel


                :show-arrows="true"
                hide-delimiter-background
                delimiter-icon="minimaze"
                height="300"
                v-model="index"
        >
            <v-carousel-item
                    v-for="event in events"
                    :key="event.id"
                    :src="event.image"


            >

                    <v-row
                            class="fill-height"
                            align="center"
                            justify="center"
                    >

                    </v-row>

            </v-carousel-item>
        </v-carousel>
        <v-list two-line>
            <v-list-item>
                <v-list-item-content>
                    {{events[index].name}}
                    <hr>

                   <p>Дата: {{events[index].event_date}} / {{events[index].event_time}}</p>



                </v-list-item-content>
                <v-list-item-action>
                    <v-btn :to="`/events/`+events[index].id">Виж повече</v-btn>
                </v-list-item-action>
            </v-list-item>
        </v-list>
    </div>


</template>

<script>
    export default {
        name: "Event",
        props:["events"],
        data:()=>({
            index:0
        }),
        methods:{
            changeIndex(newIndex){
                this.index = newIndex
            }
        }
    }
</script>

<style scoped>

</style>