<template>
    <v-list>
        <v-subheader>Последни съобщения</v-subheader>
        <v-list-item
                v-for="user in users"
                :key="user.id"
                @click="SelectUser(user[0].friend)"
        >
            <v-list-item-avatar v-if="user[0].user.id == user_id" >
                <v-img :src="user[0].friend.img"></v-img>
            </v-list-item-avatar>

            <v-list-item-avatar v-else >
                <v-img :src="user[0].user.img"></v-img>
            </v-list-item-avatar>


            <v-list-item-content v-if="user[0].user.id == user_id">
                <v-list-item-title v-text="user[0].friend.name"></v-list-item-title>
                <v-list-item-subtitle v-text="user[0].message"></v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content v-else >
            <v-list-item-title v-text="user[0].user.name"></v-list-item-title>
            <v-list-item-subtitle v-text="user[0].message"></v-list-item-subtitle>
            </v-list-item-content>


        </v-list-item>
    </v-list>
</template>

<script>
    export default {
        name: "LastMessages",
        data:()=>({
            users:[],
            user_id:null
        }),
        methods:{
            FetchUsers(){
                let app = this;
                this.get('auth/last/user/messages').then((resp)=>{
                   app.users = resp.messages;

                })


            },
            SelectUser(user){
                this.$EventBus.$emit('user', user);
            },
            FilterUsers(messages){
                let newUser=[];
                let app = this;

                for (var i  = 0 ; i< 5;i++ ){
                   app.users.push(messages[i]);
                }
                this.users.forEach((user)=>{
                   alert(user);
                });

            }
        },
        created() {
            this.FetchUsers();
            this.user_id = this.$store.state.user.id;
        },



    }
</script>

<style scoped>

</style>