<template>
    <v-container>

        <app-settings :dialog="dialog" :user="friend"></app-settings>
<<<<<<< HEAD
<!--            <app-profile :home="true"></app-profile>-->

=======
>>>>>>> feature/dev
                   <v-card flat  v-if="selected">

                       <v-card-title>
                           <v-btn icon @click="selected = false"><v-icon>keyboard_backspace</v-icon></v-btn><v-avatar>
                           <v-img :src="friend.img"></v-img>
                       </v-avatar>{{friend.name}}
                        <v-spacer>

                        </v-spacer>
                           <v-btn icon @click = "dialog = true"><v-icon>settings</v-icon></v-btn>
                       </v-card-title>
                       <hr>
                       <v-card-text >
                           <div >
                               <v-list style="max-height: 50vh;min-height:50vh; overflow-y:scroll" class="  "  v-chat-scroll>
                           <app-messages v-for="message in messages" :message="message" :key="message.id" :friend_img="friend.img" :friend_id="friend.id"></app-messages>
                               </v-list>
                           </div>
                           <hr>
                        <app-message-inputs :friend_id="friend.id"></app-message-inputs>
                       </v-card-text>
                   </v-card>


                <app-users v-show="!selected"></app-users>

    </v-container>
</template>

<script>
    import Message from "./Message"
    import Settings from "./Settings"
    import Profile from "../Profile"
    import Users from "./Users"
    import MessageInputs from "./MessageInputs"
    export default {

        name: "Messages",
        components:{
          appMessages:Message,
            appSettings:Settings,
            appProfile:Profile,
            appUsers:Users,
            appMessageInputs:MessageInputs
        },
        data:()=>({
            message:"",
            type:"",
            friend:{},
            dialog:false,
            id:null,
            selected:false,
            messages:[]

        }),
        methods:{


            Fetch_messages(){
                let app =this;
                app.messages = [];
                this.get("auth/messages/"+this.friend.thread_id).then((resp)=>{
                    app.messages = resp.thread.messages;
                })

            },

        },
        mounted(){
            let app = this;
            document.addEventListener("backbutton", ()=>{
                app.selected = false;
            }, false);
        },
        beforeDestroy () {
            document.removeEventListener("backbutton", ()=>{
                app.selected = false
            });
        },
        created() {
            let app = this;
           this.Fetch_messages();
           this.$EventBus.$on("user",(user)=>{
              app.friend = user;
              app.selected = true;
           });
           this.$EventBus.$on("add-message",(message)=>{
               app.messages.push(message);
           });
           this.$EventBus.$on("new-message",(e)=>{
               if(app.friend.id == e.message.user.id) {
                   app.messages.push(e.message);
               }
           })



            this.$EventBus.$on("close-settings",()=>{
                app.dialog = false
            });
        },
        watch:{
            friend(){
                this.messages = [];
                this.Fetch_messages();
            }
        }

    }
</script>

<style scoped>

</style>
