<template>
<<<<<<< HEAD
    <v-card  class="chathead" width="30vh" height="40vh" >
        <v-card-title class=" mr-5 align-center">
            <v-row>
                <v-col cols="4">
                    <v-avatar>
                    <v-img :src="friend.img"></v-img>
                    </v-avatar>
                </v-col>

                <v-col cols="5" class="text-truncate">
                    <span class="">{{friend.name}}</span>
                </v-col>
                <v-col cols="3">
                 <v-btn icon @click="Close"><v-icon>clear</v-icon></v-btn>
                </v-col>
                <hr>
            </v-row>
=======
    <v-card  width="50vh" max-width="50vh" >
        <v-card-title>
            <v-avatar>
            <v-img :src="friend.img"></v-img>
            </v-avatar>
            {{friend.name}}

            <v-btn icon @click="Close"><v-icon>clear</v-icon></v-btn>
            <hr>
>>>>>>> feature/dev
        </v-card-title>

        <v-card-text>
            <div >
                <v-list style="height:15vh " class="overflow-y-auto"  v-chat-scroll>
                    <app-message v-for="message in messages" :message="message" :key="message.id" :friend_img="friend.img":friend_id="friend.id"></app-message>
                </v-list>
            </div>

            <div style="bottom:0; position:absolute">
                <v-divider></v-divider>
                <v-text-field
                        label="Напиши съобщение"
                        append-outer-icon="send"
                        @click:append-outer="Send_message"
                        @keydown.enter="Send_message"
                        @focus="seen"
                        v-model="message"
                ></v-text-field>
            </div>

        </v-card-text>
    </v-card>
</template>

<script>

    import Message from './Message'

    export default {
        name: "MessageHead",
        props:["friend","index"],
        components:{
            AppMessage:Message
        },
        data:()=>({
            messages:[],
            message:""

        }),
        methods:{
            FetchMessages(){

                let app =this;
                app.messages = [];
                this.get("auth/messages/friend/"+this.friend.id).then((resp)=>{
                    app.messages = resp.messages;
                })

            },
            Close(){
                this.$EventBus.$emit("remove-chat",this.index);
            },
            Send_message() {
                let app = this;
                this.post("auth/messages/add", {
                    user_id: this.$store.state.user.id,
                    type: "friend",
                    id: this.friend.id,
                    message: this.message

                }).then(function () {
                    app.messages.push({
                        user_id: app.$store.state.user.id,
                        message: app.message
                    });
                    app.message = "";
                })
            },


        },

        created(){
            let app = this;

                Echo.channel('user-'+app.$store.state.user.id)
                    .listen('NewMessage', (e) => {
                        if(app.friend.id == e.message.user.id){
                            app.messages.push(e.message);
                        }


                    });


            this.FetchMessages();
        }
    }
</script>

<style scoped>

</style>
