<template>

    <div>
        <v-list sclass="scroll-y"  max-height="50% " two-line>



                <v-list-item
                        :class="message.user_id != user.id ? 'text-left':'text-right'"
                >
                    <v-list-item-avatar v-if="message.user_id != user.id && message.user_id == friend_id">
                        <v-img :src="friend_img"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title v-html="message.body" ></v-list-item-title>

                        <v-divider

                        ></v-divider>
                    </v-list-item-content>

                </v-list-item>
        </v-list>
        <v-spacer></v-spacer>
    </div>
</template>

<script>
    export default {
        name: "Message",
        props:["message","friend_img","friend_id"],
        data:()=>({
           user:null
        }),
        created(){
            this.user = this.$store.state.user;
        }

    }
</script>

<style scoped>

</style>
