<template>
    <v-text-field
            label="Напиши съобщение"
            append-outer-icon="send"
            @click:append-outer="Send_message"
            @keydown.enter="Send_message"
            v-model="message"
            @focus="Seen"
    ></v-text-field>
</template>

<script>
    export default {
        name: "MessageInputs",
        props:["friend_id","thread_id"],
        data:()=>({
            message:"",

        }),
        methods:{
            Send_message(){
                let app =this;
                this.post("auth/messages/add",{
                    user_id:this.$store.state.user.id,
                    type:"friend",
                    id:this.friend_id,
                    message:this.message,
                    thread_id:this.thread_id

                }).then(function () {
                    app.$EventBus.$emit("add-message",{
                            user_id:app.$store.state.user.id,
                            type:"friend",
                            id:app.friend_id,
                            message:app.message
                        });
                    app.message = "";
                });


            },

        }
    }
</script>

<style scoped>

</style>