<template>
    <v-row justify="end" dense>
        <v-col   v-for="(friend,i) in friends">
            <message-head :friend="friend" :index="i"></message-head>
        </v-col>
    </v-row>
</template>

<script>

    import MessageHead from './MessageHead'
    export default {
        name: "MessageHeads",
        components: {
            MessageHead
        },
        data: () => ({
            friends:[
            ]
        }),
        methods:{
          RemoveChatHead(index){
              this.friends.splice(index,1);
          }
        },
        created() {
            let app = this;
            this.$EventBus.$on("user",(user)=>{
                if(!app.friends.length ) {
                    app.friends.push(user);
                }else if(app.friends.length < 2){
                    app.friends.forEach((friend)=>{
                        if(friend.id != user.id) {
                            app.friends.push(user);
                        }
                    });
                }
            });
            this.$EventBus.$on("remove-chat",(index)=>{
                app.RemoveChatHead(index);
            });
        }
    }
</script>

<style scoped>




</style>
