<template>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">

        <v-card>
            <v-toolbar dark color="primary">
                <v-btn icon dark @click="CloseDialog()">
                    <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>Настройки</v-toolbar-title>
                <v-spacer></v-spacer>

            </v-toolbar>
            <v-list three-line subheader>
                <v-subheader>Потребителска информация</v-subheader>
                <v-list-item>

                        <v-list-item-avatar><v-img :src="user.img"></v-img></v-list-item-avatar>
                        <v-list-item-title>{{user.name}}</v-list-item-title>
                    <v-list-item-action>
                        <v-btn icon><v-icon>people</v-icon></v-btn>
                    </v-list-item-action>
                </v-list-item>

            </v-list>
            <v-divider></v-divider>
            <v-list three-line subheader>
                <v-subheader>Генерални</v-subheader>
                <v-list-item @click="create_group=true">
                    <v-list-item-action v-show="create_group">
                        <v-btn icon @click="Create_Group()"><v-icon>add</v-icon></v-btn>
                    </v-list-item-action>


                <v-list-item-content>
                    <v-list-item-title v-show="!create_group">Създай група с/със {{user.name}}</v-list-item-title>
                    <v-list-item-title v-show="create_group">
                        <v-text-field
                            label="Име на групата"
                        ></v-text-field>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            </v-list>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "Settings",
        props:["dialog","user"],
        data:()=>({
           notifications:false,
            create_group:false
        }),
        methods:{
                    CloseDialog(){
                     this.$EventBus.$emit("close-settings");
                },
            Create_Group(){
                this.post("groups/create",{
                    friend_id:this.user.id,
                    name:this.group.name
                })
            }

        }
    }
</script>

<style scoped>

</style>
