<template>
    <v-container>
        <v-list subheader
                class="overflow-y-auto"
                style="max-height: 75vh">
            <v-subheader>Потребители</v-subheader>

            <v-list-item
                    v-for="user in users"
                    :key="user.id"
                    @click="Select_chat(user)"

            >






                <v-list-item-avatar :class="{online:user.active==1}">

                    <v-img :src="user.img"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                    
                        <v-list-item-title >{{user.name}}</v-list-item-title>
<!--                    <v-list-item-title v-else-if="last && user.id">{{user.name}}</v-list-item-title>-->
                </v-list-item-content>
<!--                <v-list-item-action>-->
<!--                    <v-icon color="green" v-if="user.unseen_messages.length">add_comment</v-icon>-->
<!--                </v-list-item-action>-->

            </v-list-item>
        </v-list>
    </v-container>
</template>

<script>
    export default {
        name: "Users",
        props:["last"],
        data:()=>({
            users:[],
            message_count:0

        }),

        methods:{
            Select_chat(user){

                this.$EventBus.$emit("user",user,);
            },
            count_messages(){
                let app = this;
                this.users.forEach((user)=> {
                    if(user.unseen_messages.length){
                        app.message_count+=user.unseen_messages.length;
                    }
                })

            },
            Select_user(friend_id,seen=false,active=false){
                let app = this;
                this.users.forEach((user,i)=>{

                    if(friend_id == user.id){
                        if(!seen){
                            user.unseen_messages.push({id:1});
                            app.count_messages();
                        }else{
                            user.unseen_messages=[];
                            app.seen(friend_id);
                            app.count_messages();
                        }
                        if(active == true){
                            user.active = true;
                        }else{
                            user.active = false
                        }


                        app.Select_chat(user);
                    }
                })

            },



        },
        created() {
            let app = this;
            if(!this.last) {


                this.get("auth/users").then(function (resp) {
                    app.users = resp.users;
                    app.count_messages();

                });
            }else {
                this.get("auth/last/user/messages").then(function (resp) {
                    app.users = resp.users;
                    app.count_messages();

                });
            }

            this.$EventBus.$on("seen-message",(friend_id)=>{
                app.Select_user(friend_id,true);
            });
            setTimeout(()=>{
    Echo.channel('user-'+app.$store.state.user.id)
        .listen('NewMessage', (e) => {
            app.Select_user(e.message.user.id);
            app.$EventBus.$emit("new-message",e);
            app.push_notification('',"Ново съобщение от "+e.message.user.name);
        });
    Echo.channel('status')
        .listen('ChangeStatus',(e)=>{
            app.Select_user(e.user_id,false,e.status);
        })
    },3000);





        },
        watch:{
            message_count(val){
                this.$EventBus.$emit('message-count',val);
            }
        },
    }
</script>

<style scoped>
.online{
    border: 4px solid lime;
}
</style>