<template>
    <v-container fluid>
        <h1 class="title">Контакти</h1>
        <v-divider width="25%"></v-divider>
        <v-row>
            <v-col cols="12">
                <section class="float-left">
                    <h4>Адрес</h4>
                     <h4 class="subtitle "><v-icon>mdi-map-marker</v-icon>гр. София, ул.Камен Андреев ет.4</h4>
                </section>

                <section class="float-left ml-3" >
                <h4>Телефон</h4>
                <h4 class="subtitle "><v-icon>mdi-phone</v-icon>0988393946</h4>
                </section>
            </v-col>
            <v-col >
                <v-form>
                    <h3>Форма за контакт</h3>
                    <v-text-field
                    label="Имена"
                    />
                    <v-text-field
                        label="Имейл"
                    />
                    <v-textarea
                        label="Съобщение"
                    />

                    <v-btn rounded outlined color="blue" class="float-right">Изпрати</v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Contacts"
    }
</script>

<style scoped>

</style>
