<template>
    <v-container fluid>
        <v-app-bar app color="white" flat>
            <v-app-side-icon>
                <router-link to="/">
                    <v-img  class="mr-3" src="/images/logo.png"  height="auto" width="100px"  ></v-img>
                </router-link>

            </v-app-side-icon>
           <v-spacer class="hidden-md-and-down"></v-spacer>
            <v-btn text to='/social/' class="hidden-md-and-down">Начало</v-btn>
            <v-btn text  to='profile'  class="hidden-md-and-down">
            <v-avatar size="36">
                <v-img :src="'/'+user.img"/>
            </v-avatar>

            <h5 class="ml-2 font-weight-bold hidden-md-and-down" >Профил</h5>
            </v-btn>
<!--            <v-btn text to="messages">-->
<!--                Съобщения-->
<!--            </v-btn>-->
            <app-last-messages-menu ></app-last-messages-menu>
            <!-- <v-btn text v-if="subscribed">
                Абонамент
            </v-btn> -->
            <v-btn text class="hidden-md-and-down">
                Изход
            </v-btn>
            <v-btn icon to="/social/" class="hidden-md-and-up">
                <v-icon>mdi-home-outline</v-icon>
            </v-btn>
            <v-btn icon to="messages" class="hidden-md-and-up">
                <v-icon>mdi-message-outline</v-icon>
            </v-btn>
            <v-btn icon to="profile" class="hidden-md-and-up">
                <v-icon>mdi-account-outline</v-icon>
            </v-btn>
            <v-btn icon to="events" class="hidden-md-and-up">
                <v-icon>mdi-calendar-outline</v-icon>
            </v-btn>
            <v-btn color="red" icon class="hidden-md-and-up">
                <v-icon>mdi-door-open</v-icon>
            </v-btn>
        </v-app-bar>

    </v-container>
</template>

<script>
    import LastMessagesMenu from "../Messages/LastMessagesMenu";

    export default {
        name: "Header",
        components:{
            appLastMessagesMenu:LastMessagesMenu
        },
        data(){
            return{
                user:{}
            }
        },
        created(){
            this.user = this.$store.getters.getUser;
        }
    }
</script>

<style scoped>

</style>
