<template>
    <v-container>
    <v-container fluid>
        <v-row>
            <v-col cols="9">
                <v-text-field
                    label="Остави коментар"
                    rounded
                    outlined
                    single-line
                    width="75vh"
                    dense
                    v-model="comment"
                    @keydown.enter="Comment()"

                />
            </v-col>
            <v-col cols=3>
                <v-btn icon color="blue"><v-icon @click="Comment()">mdi-send</v-icon></v-btn>
            </v-col>
        </v-row>
    </v-container>
    <v-list two-line>
        <v-subheader v-if="comments.length > 0">Коментари</v-subheader>
        <v-list-item v-for="(comment,i) in comments" :key="comment.id">
            <v-list-item-avatar>
                <v-avatar>
                    <v-img :src="'/'+comment.user.img"></v-img>

                </v-avatar>

            </v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title><h4>{{comment.user.name}}</h4></v-list-item-title>
                <v-list-item-subtitle>
                    {{comment.description}}
                </v-list-item-subtitle>


            </v-list-item-content>
            <section v-if="editable">
                <v-list-item-action  >
                    <v-btn icon color="blue" @click ="updateComment(i)"><v-icon>mdi-pencil-outline</v-icon></v-btn>

                </v-list-item-action>
                <v-list-item-action>
                    <v-btn icon color="red" @click="deleteComment(i)"><v-icon>mdi-delete</v-icon></v-btn>
                </v-list-item-action>
            </section>

        </v-list-item>
    </v-list>
    </v-container>
</template>

<script>
    export default {
        name: "Comments",
        props:['comments','post_id','editable'],
        data:()=>({
            comment:"",
            user_id:null,
            update:false,
            update_comment:{}
        }),
        methods:{
            Comment(){
                let app = this;

                if(!this.update){
                    this.post('auth/posts/post/'+this.post_id+'/comment',{
                        post_id:this.post_id,
                        description:this.comment
                    }).then(resp=>{
                        app.comments.unshift(resp.comment);
                        app.comment = ""
                    });
                }else{
                    let id = this.update_comment.id;
                    this.patch('auth/posts/post/'+this.post_id+'/comment/'+id+'/patch',{
                        description:this.comment
                    }).then(resp=>{
                        let i = app.comments.indexOf(app.update_comment);
                        app.comments[i].description = app.comment;
                        app.comment = "";
                        app.update = false;

                    })
                }

            },
            updateComment(i){
              let app = this;
              this.update = true;
              this.update_comment = this.comments[i];
              this.comment = this.update_comment.description;
            },
            deleteComment(i){
                let app = this;
                let id = this.comments[i].id;
                this.delete('auth/posts/post/'+this.post_id+'/comment/'+id+'/delete').then(resp=>{
                    app.comments.splice(i,1);
                })
            }
        },
        created() {
            let user = this.$store.getters.getUser;
            this.user_id = user.id;
        }
    }
</script>

<style scoped>

</style>
