<template>
    <v-card

        class="mx-auto">
        <v-card-title>
            <v-avatar>
                <v-img :src="'/'+p.user.img"></v-img>
            </v-avatar>
            <h4 class="ml-3">
                <router-link :to="'user/'+p.user.id">{{p.user.name}}</router-link>


            </h4>
            <v-spacer></v-spacer>
            <v-btn icon @click="Edit(p)" v-if="p.is_editable">
                <v-icon>mdi-pencil</v-icon>
            </v-btn>
        </v-card-title>

        <v-card-subtitle class="black--text m-y2">{{p.content}}</v-card-subtitle>
        <v-card-text @click="ShowPost(p)">
            <v-container >
                <v-row>
                    <template v-for="image in p.images">
                        <v-col :cols="p.images.length > 1?'3':'12'" :key="image.id">
                            <v-img :src="'/'+image.url"></v-img>
                        </v-col>
                    </template>
                </v-row>
            </v-container>
            <v-divider></v-divider>
            <h4 class="text-left d-inline" >
                <v-icon color="blue">mdi-thumb-up</v-icon>{{p.likes.length}}
            </h4>

            <h4 class="text-right gray--text d-inline float-right">
                {{p.comments.length}} коментара
            </h4>
            <v-divider></v-divider>
        </v-card-text>
        <v-card-actions>
            <v-btn text :color=" p.is_liked ? 'blue':'grey' " @click="LikeOrDislike()">
                <v-icon>mdi-thumb-up-outline</v-icon>
                <h4>Харесай</h4>
            </v-btn>
            <v-spacer></v-spacer>

            <v-btn text color="grey" @click="comments = !comments">

                <v-icon>mdi-message-outline</v-icon>
                <h4>Коментари</h4>
            </v-btn>

        </v-card-actions>

        <v-card-text v-if="comments">
            <app-comments :comments="p.comments" :post_id="p.id" :editable="p.is_editable"></app-comments>
        </v-card-text>
    </v-card>
</template>

<script>
    import Comments from "./Comments";
    export default {
        name: "Post",
        props:['p'],
        components:{
            appComments:Comments
        },
        data:()=>({
           comments:false
        }),
        methods:{
            Edit(post){
                this.$EventBus.$emit('edit',post);
            },
            ShowPost(post){
                this.$EventBus.$emit('show-post',post);
            },
            LikeOrDislike(){
                let app = this;

                if(this.p.is_liked){
                    this.delete('auth/posts/post/'+this.p.id+'/dislike',{
                        id:this.p.id
                    }).then(resp=>{
                        app.p.is_liked = false;
                        app.p.likes.splice(0,1);
                    })
                }else {
                    this.post('auth/posts/post/' + this.p.id + '/like', {
                        id: this.p.id
                    }).then(resp => {
                        app.p.is_liked = true;
                        app.p.likes.push({a:true})
                    })
                }
            },
        }
    }
</script>

<style scoped>

</style>
