<template>
    <v-container fluid v-infinite-scroll="LoadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
        <v-row>
            <template >
            <v-col  lg="12" md="auto" sm="12" v-for="(post,i) in posts" :key="post.id" >
                <app-post :p ="post"></app-post>
            </v-col>

            </template>
        </v-row>

<!--  Post Dialog  -->

        <app-post-dialog></app-post-dialog>
    </v-container>
</template>

<script>

    import PostDialog from "./PostDialog";
    import Post from "./Post";


    export default {
        name: "Posts",
        props:['user_id'],
        components:{
            appPostDialog:PostDialog,
            appPost:Post

        },
        data:()=>({
            posts:[],
             fetch:0,
            busy:false,
            comments:false,


        }),
        methods:{


             FetchData(clear=false){
                let app = this;

                if(!this.user_id){
                    this.get("auth/posts/fetch/"+this.fetch).then(function(resp){
                    if(resp.posts.length){
                        resp.posts.forEach((post)=>{
                            app.posts.push(post)
                        });
                    }else{
                        app.busy = true;
                    }

                    });
                }
                this.busy = false;

            },
            LoadMore(){
                this.fetch+=5;
                this.busy = true;
                this.FetchData();
            },
        },
            created(){
            let app = this;

                this.FetchData();
                this.$EventBus.$on("fetch-posts",()=>{
                    app.posts = [];
                    app.fetch = 0;

                    app.FetchData(true);
                });


        },
        watch:{
            user_id(){
                this.FetchData();
            }
        }

    }
</script>

<style scoped>
v-card-text:hover{
      cursor:pointer;
    }
</style>
