<template>
    <v-dialog v-model="dialog">
        <v-card
           >
            <v-card-title>
                <v-avatar>
                    <v-img :src="'/'+post.user.img"></v-img>
                </v-avatar>
                <h4 class="ml-3">
                    {{post.user.name}}


                </h4>
                <v-spacer></v-spacer>
                <v-btn icon @click="dialog=false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-card-title>

            <v-card-subtitle class="black--text m-y2">{{post.content}}</v-card-subtitle>
            <v-card-text>
                <v-carousel :show-arrows="false" v-if="post.images.length > 0">
                    <v-carousel-item
                        v-for="image in post.images"
                        :key="image.id"
                        :src="'/'+image.url"
                    ></v-carousel-item>
                </v-carousel>
                <v-divider></v-divider>
                <h4 class="text-left d-inline" >
                    <v-icon color="blue">mdi-thumb-up</v-icon>{{post.likes.length}}
                </h4>

                <h4 class="text-right gray--text d-inline float-right">
                    {{post.comments.length}} коментара
                </h4>
                <v-divider></v-divider>
            </v-card-text>



        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "PostDialog",
        data:()=>({
            dialog:false,
            post:{},
            comments:false,
        }),
        created() {
            let app = this;
            this.$EventBus.$on('show-post',post=>{
                app.post = post;
                app.dialog = true;
            })
        }
    }
</script>

<style scoped>


</style>
