<template>
    <v-container id="edit">
        <v-card
            height=20vh
        >
         <v-card-title>Създай пост</v-card-title>
            <v-card-text>
          <v-text-field
                    label="Какво мислите"
                   @focus="dialog=true"
                   outlined
                   rounded
                />
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialog">
        <v-card

        class="mx-auto"
        >
            <v-card-title>Създай пост
                <v-spacer></v-spacer>
                <v-icon @click = "dialog=false">mdi-close</v-icon>
            </v-card-title>
            <v-card-text>
                <v-text-field
                    label="Какво мислите"
                    v-model="post_content"
                />
                <v-container fluid>
                <v-row>
                    <v-col
                        v-for="(image,i) in images"
                        :key="i"

                        cols="3"
                    >
                        <v-btn  icon @click="Remove_Image(i)"><v-icon>mdi-close</v-icon></v-btn>

                    <v-img  :src="image.url" ></v-img>

                    </v-col>
                </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-btn text icon  @click="pickFile"><v-icon>mdi-image-plus</v-icon></v-btn>
                <v-btn color="red" text @click="Remove()" icon ><v-icon>mdi-delete</v-icon></v-btn>

                <input

                    style="display: none"
                    @change="onFilePicked"
                    type="file" id="post_image" ref="post_image"/>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="SubmitPost" v-if="!edit">Качи пост</v-btn>
                <div v-else>
                <v-btn color="primary" text @click="Edit()">Обнови пост</v-btn>

                </div>
            </v-card-actions>
        </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    export default {
        name: "SubmitPost",
        data: () => ({
            post_content: "",
            images: [],
            imageName: '',
            imageUrl: '',
            imageFile: '',
            edit:false,
            post_id:null,
            user_img:"",
            dialog:false
        }),
        methods: {
            SubmitPost() {
                let app = this;
                this.$EventBus.$emit("loading");
                if (this.images.length > 0) {
                    this.post("auth/posts/create", {
                        post_content: this.post_content,
                        images: this.images
                    }).then(() => {
                        app.post_content = "";
                        app.images = [];
                        app.$EventBus.$emit("stop-loading");
                    })
                } else {
                    this.post("auth/posts/create", {
                        post_content: this.post_content,

                    }).then(() => {
                        app.post_content = ""
                        app.$EventBus.$emit("stop-loading");
                    })
                }
                this.$EventBus.$emit("fetch-posts");
                this.dialog = false;
            },
            Remove(){
                let app = this;
                this.$EventBus.$emit("loading");
                this.delete('auth/posts/'+this.post_id+'/delete').then(()=>{
                    app.post_content = "";
                    app.images = [];
                    app.edit = false;
                    app.post_id = null;
                    this.$EventBus.$emit("stop-loading");
                    this.$EventBus.$emit("fetch-posts");
                });
            },
            pickFile() {
                this.$refs.post_image.click()
            },
            Remove_Image(i) {
                let app = this;
                if(this.edit){
                    this.delete('auth/post/'+this.post_id+'/image/'+this.images[i].id)
                        .then((resp)=>{
                            app.images.splice(i, 1);
                        });
                }else{
                    this.images.splice(i, 1);
                }

            },
            onFilePicked(e) {
                let app = this;
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageName = files[0].name
                    if (this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageUrl = fr.result
                        this.imageFile = this.$refs.post_image.files[0]; // this is an image file that can be sent to server...
                        let img = {
                            url: app.imageUrl,
                            file: app.imageFile, // this is an image file that can be sent to server...
                            name: app.imageName // this is an image file that can be sent to server...
                        }
                        app.images.unshift(img);

                    })
                }
            },
            Edit(id){
                this.$EventBus.$emit("loading");
                let app = this;
                if (this.images.length > 0) {
                    this.patch("auth/post/"+this.post_id+"/patch", {
                        post_content: this.post_content,
                        images: this.images
                    }).then(() => {
                        app.post_content = "";
                        app.images = [];
                        app.post_content = "";
                        app.images = [];
                        app.edit = false;
                        app.dialog = false;
                        app.post_id = null;
                        app.$EventBus.$emit("stop-loading");
                        app.$EventBus.$emit("fetch-posts");
                    })
                } else {
                    this.patch("auth/post/"+this.post_id+"/patch", {
                        post_content: this.post_content,

                    }).then(() => {
                        app.post_content = ""
                        app.post_content = "";
                        app.images = [];
                        app.edit = false;
                        app.dialog = false;
                        app.post_id = null;
                        app.$EventBus.$emit("stop-loading");
                        app.$EventBus.$emit("fetch-posts");
                    })
                }
            }
        },
        created() {
            let app = this;
            this.$EventBus.$on('edit', (e) => {
                app.dialog=true;
                app.edit = true;
                app.post_content = e.content;
                app.images = e.images;
                app.post_id = e.id;
            });

            this.get('auth/user').then((resp) => {
                app.user_img = resp.img;
            })
        }

    }

</script>

<style scoped>

</style>
