<template>
    <v-container fluid>
    <v-app>
<!--    <app-header "></app-header>-->
        <v-snackbar
            v-model="snackbar"
            :timeout="268613513810518140"
        >
           За подобряването на сайта ние използваме бисквитки!
            <router-link to="/cookies">Научи повече</router-link>
            <v-btn
                color="pink"
                text
                @click="Save_Settings()"
            >
                Приемам
            </v-btn>
            <v-btn
                color="pink"
                text
                @click="snackbar=false"
            >
                Отказ
            </v-btn>
        </v-snackbar>
        <app-loader v-show="loading"></app-loader>
        <app-header v-if="$route.path.substr(0,7) != '/social'"></app-header>
        <app-social-header v-else></app-social-header>
        <v-content>
                <router-view ></router-view>

        </v-content>

        <app-footer></app-footer>
    </v-app>
</v-container>
</template>

<script>
    import Header from './Home/Header/Header'

    import Footer from './Footer'
    import Loader from './Home/Loader/Loader'
    import SocialHedader from './Social1/Header/Header'
    import Slider from './Home/Slider/Slider'


    export default {
        name: "App",
        components:{
            AppHeader:Header,
            AppFooter:Footer,
            appLoader:Loader,
            appSocialHeader:SocialHedader,
            appSlider:Slider

        },
        methods:{
            Save_Settings(){
                localStorage.cookies = true;
                this.snackbar = false
            }
        },
        data:()=>({
          loading:false,
            snackbar:false
        }),
        created(){
            let app = this;
            this.$EventBus.$on("loading",()=>{
              app.loading = true
            }) ;
            this.$EventBus.$on("stop-loading",()=>{
               app.loading = false;
            })
            if(!localStorage.cookies){
                this.snackbar = true;
            }


    }
    }
</script>

<style >
    .app-footer{
        position: absolute;
        bottom: 0;
    }
</style>
