<template>
    <footer class="container-fluid footer">
        <div class="container nopadding">
            <div class="col-sm-4 box">
                <h3>Меню</h3>

                    <span v-for="(page,i) in pages" :key="i"><router-link :to="page.to">{{page.title}}</router-link></span>

            </div>
            <div class="col-sm-4 box">
                <h3>Партньори</h3>


                    <span v-for = "partner in partners" :key="partner.id"><a href="">{{partner.name}}</a></span>

            </div>
            <div class="col-sm-4 box1">
                <h3>Контакти</h3>
                    <!-- <span>Адрес: София 1000 ул. УНСС - Съюз на счетоводителите в България</span> -->
                    <span>Телефон: 0889 171 770</span>
                    <span>Имейл: info@uab.bg</span>
            </div>
            <div class="clearfix"></div>
            <p class="text-center" style="color:#616161">2014 - {{years}} г. Всички права запазени</p>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer",
        data:()=>({
            year:1,
            pages:[
                {
                    title:"За сдружението",
                    to:"/about",
                    pages:[]
                },
                {
                    title: "Събития",
                    to:'/events'
                },
                {
                    title:"Полезни препратки",
                    to:"/usefull",

                },
                {
                    title:"Новини",
                    to:"/news",

                },
                {
                    title:"Контакти",
                    to:"/contacts",

                }

            ],
            partners:[]
        }),
        computed:{
            years(){
                return new Date().getFullYear()
            }
        },
        created() {
            let app = this;
            this.$EventBus.$on('menu',(menu)=>{
                app.pages = menu;
            })
            this.get("/partners").then((resp)=>{
                app.partners = resp.partners;
            })
        }
    }
</script>

<style scoped>

</style>