<template>
    <GmapMap
            :center="{lat: 42.6767816, lng:25.5916914}"
            :zoom="7"
            map-type-id="terrain"
            style="width: 100%; height: 100%"
    >
        <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.pos"
                :clickable="true"
                :draggable="true"
                @click="center=m.pos"
        >

            <gmap-info-window  :position="{'lat':m.lat,'lng':m.lng}" :opened="true" >
                Клон {{m.name}}
                <br>
                {{m.location}}

            </gmap-info-window>

        </GmapMarker>

    </GmapMap>
</template>

<script>
    export default {
        name: "maps",
        data:()=>({
            markers:[
                {
                   name:"dfdsfds",
                    pos: {
                        lat:43.2043959,
                        lng:27.9024983
                    }

                }
            ]
        }),
        methods:{
            Make_Markers(branches){
                let new_markers=[]
                branches.forEach((branch)=>{
                    let new_marker = {
                        name:branch.name,
                        pos:{
                            lat:branch.lat,
                            lng:branch.lng
                        }
                    }
                    new_markers.push(new_marker)
                })
                this.markers = new_markers;
            },
            fecthBranches(){
                let app = this;
                this.get("/branches").then(function (resp) {
                    app.Make_Markers(resp.branches);
                })

            }

        },
        created() {
            this.fecthBranches();
        }
    }
</script>

<style scoped>

</style>