<template>
    <div

    >
        <v-carousel
                cycle
                hide-delimiter-background
                :show-arrows="false"
        >
            <v-carousel-item
                    v-for="(article, i) in articles"
                    :key="i"

            >
            <v-img
                    :src="article.image"
                    class="white--text text-center"

            >
                <v-overlay
                        :absolute="true"
                        :value="true"
                >
                    <router-link :to="`/events/`+articles[i].id" class="text-xs-center title text-white  ">{{article.name}}</router-link>
                </v-overlay>
            </v-img>
            </v-carousel-item>
        </v-carousel>

    </div>
</template>

<script>
    export default {
        name: "Slider",
        data: () => ({
            articles: [
                {
                    img:"images/slider/3.jpg"
                },
                {
                    img:"images/slider/4.jpg"
                }
            ],
            events:false,

            i: 0
        }),
        methods: {
            NextSlide(event){
                if(this.i < 0 || this.i >= this.articles.length-1){
                    this.i= 0;
                }
                else
                    if(event == 'prev'){

                            this.i--;

                    }else if(event =='next'){
                        this.i++
                    }
                },
            FetchContent(){
                let app = this;
                app.get('/events').then((resp) => {
                    app.articles = resp.events;
                    app.events = true;
                });

                if(!app.articles.length) {
                    this.get("/articles").then(function(resp){
                        app.articles = resp.articles;
                    });
                }
            }

        },
        created() {
            let app = this;
            this.FetchContent();

        },
        computed:{
            url(id){
                if(this.events){
                    return '/events/'+id
                }else{
                    return '/article/' +  id
                }
            },
            image(id){
                if(this.events){
                    return this.articles[id].image
                }else{
                    return this.articles[id].img
                }
            },
            name(id){
                if(this.events){
                    return this.articles[id].name
                }else{
                   return this.articles[id].title
                }
            }
        },
        watch:{
            articles(){
                let app = this;
                setInterval(()=>{
                    app.NextSlide("next");
                },3000)
            }
        }

    }

</script>

<style scoped>
    a{
        color:white;
        font-size:42px;
    }
</style>
