<template>
   <section >
        <v-row no-gutters>
            <v-col cols="12">
                <app-slider></app-slider>
            </v-col>
            <v-col cols="12">
                <app-news :home="true"></app-news>
            </v-col>
        </v-row>
   </section>
</template>

<script>
import Slider from "./Slider/Slider";
import News from "./News/News";
    export default {
        name: "Home",
        components:{
            appSlider:Slider,
            appNews:News
        },
       data:()=>({

       })

    }
</script>

<style scoped>

</style>
