<template>
    <v-container fluid>
        <v-card
            class="mx-auto"
            max-width="344"
            outlined
           color="blue"
    >
        <v-list-item three-line>
            <v-list-item-content>
                <div class="overline mb-4 white--text title">Събития:</div>
                <v-list-item-title class="headline mb-1 white--text">

                    {{events[index].name}}

                </v-list-item-title>
                <v-list-item-subtitle class="white--text">{{events[index].event_date}}/ {{events[index].event_time}}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar
                    tile
                    size="80"
            >
            <v-img :src="'/'+events[index].image"></v-img>
            </v-list-item-avatar>

        </v-list-item>
        <v-card-actions>
            <v-btn icon color="white" @click = "ChangeEvent('b')">
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn outlined color="white" :to="`/events/event/`+events[index].id">
                Научи повече
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn icon color="white" @click = "ChangeEvent('f')">
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>

        </v-card-actions>

      </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "Events",

        data(){
            return{
                 events: [],
                index:0
            }
        },
        methods:{
            FetchEvents(){
                var app = this;
                this.get("/events/").then(function (resp) {
                    app.events = resp.events;
                })
            },
            ChangeEvent(action){
                if(action == "f"){
                    if(this.index+1 < this.events.length){
                        this.index++;
                    }else{
                        this.index = 0
                    }
                }else if(action == "b"){
                    if(this.index !=0){
                        this.index--;
                    }else{
                        this.index = 0
                    }
                }
            }
        },
        created(){
            this.FetchEvents();
        }

    }
</script>

<style scoped>

</style>
