<template>
    <v-container fluid>
        <h1 class="title">{{page.title}}</h1>
        <v-divider width="25%"></v-divider>
        <br>
        <section v-html="page.content"></section>
    </v-container>
</template>

<script>
    export default {
        name: "Page",
        props:{
            id:Number
        },
        data:()=>({
            page:{}
        }),
        methods:{
            fetchPage(){
                let app = this;
                this.get('/page/'+this.id).then(resp=>{
                    app.page = resp.page;
                })
            }
        },
        created(){
            this.fetchPage();
        }
    }
</script>

<style scoped>

</style>
