<template>
    <v-container fluid>
        <h1 class="title">Събития</h1>
        <v-divider width="25%"></v-divider>
        <v-row>
            <template v-for="event in events">
                <v-col cols="auto">

                    <v-card
                        width="50vh"
                        @click=""
                        :to="'event/'+event.id"
                    >

                        <v-img
                            height="200px"
                            width="100%"
                            :src="'/'+event.image"
                        >

                            <v-chip
                                class=" float-right black--text"
                                color="white"
                                dark
                            >
                                <v-icon left>mdi-clock</v-icon>
<!--                                <v-card-subtitle>{{this.date(event.created_at)}}</v-card-subtitle>-->
                            </v-chip>
                        </v-img>

                        <v-card-title class="black--text" >{{event.name}}</v-card-title>

                    </v-card>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>

    export default {
        name: "Events",
        data:()=>({
            events:[]
        }),
        methods:{
            fetchEvents(){
                let app = this;
                this.get('/events/').then(resp=>{
                    app.events = resp.events;
                })
            },

        },
        created(){
            this.fetchEvents();
        }
    }
</script>

<style scoped>
a{
    color:black;
    text-decoration: none;

}
</style>
