<template>
<v-container fluid>
    <v-row>
        <v-col lg="6" md="auto" sm="12">
            <v-img :src="'/'+event.image"></v-img>
        </v-col>
        <v-col lg="6" md="auto" sm="12">
            <h1 class="title">  {{event.name}}</h1>
            <h3 class="subtitle-1">{{this.date(event.created_at)}}</h3>
            <h4 class="grey--text" v-html="event.description"></h4>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
    export default {
        name: "Event",
       props:['id'],
        data:()=>({
            event:{}
        }),
        methods:{
            fetchEvent(){
                let app = this;
                this.get('events/event/'+this.id).then(resp=>{
                    app.event = resp.event;
                })
            }
        },
        created(){
            this.fetchEvent();
        }
    }
</script>

<style scoped>

</style>
