<template>
    <v-container fluid>
        <h1 class="title">Клонове</h1>
        <v-divider width="25%"></v-divider>
        <v-row>
            <template v-for="branch in branches">
                <v-col lg="4" sm="12"  >
                    <v-card

                    >

                        <v-img
                            height="200px"
                            width="100%"
                            :src="'/'+branch.img"
                        >


                        </v-img>
                        <v-card-title>Клон {{branch.name}}</v-card-title>
                        <v-card-text class="black--text">
                            <h4><v-icon>mdi-map-marker</v-icon>{{branch.location}}</h4>
                            <br>
                            <h4 v-for="phone in branch.phones" :key="phone.id"><v-icon>mdi-phone</v-icon>{{phone.phone}}</h4>
                        </v-card-text>

                    </v-card>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Branches",
        data:()=>({
            branches:[]
        }),
        created() {
            let app = this;
            this.get("/branches").then(function (resp) {
                app.branches = resp.branches;
            })
        }
    }
</script>

<style scoped>

</style>
