<template>
    <v-menu
        offset-y
            bottom
        left
    >
        <template v-slot:activator="{ on }">
            <v-btn
                class="hidden-md-and-down"
                v-on="on"
                text
            >
                Съобщения
            </v-btn>
        </template>
        <app-last-messages></app-last-messages>
    </v-menu>
</template>

<script>
    import LastMessages from "./LastMessages";
    export default {
        name: "LastMessages",
        components:{
            appLastMessages:LastMessages
        },


    }
</script>

<style scoped>

</style>
