<template>
    <v-list>
        <v-list-item
            v-for="thread in threads"
            :key="thread.id"
            @click="selectThread(thread.users[0])"
        >
            <v-list-item-avatar>
                <v-img :src="'/'+thread.users[0].img"></v-img>
            </v-list-item-avatar>
            <v-list-item-title>{{ thread.users[0].name }}</v-list-item-title>
<!--            <v-list-item-subtitle>{{ thread.messages[1].body }}</v-list-item-subtitle>-->
        </v-list-item>
    </v-list>
</template>

<script>
    export default {
        name: "LastMessages",
        data:()=>({
            threads:[]
        }),
        methods:{
            fetchThreads(){
                let app = this;
                this.get('auth/user/messages').then(resp=>{
                    app.threads = resp.threads;
                })
            },
            selectThread(user){
                this.$EventBus.$emit("user",user);
            },
        },
        created(){
            this.fetchThreads();
        }
    }
</script>

<style scoped>

</style>
