<template>
    <v-card  :width="chat?'100%':'50vh'" :max-width="chat?'':'50vh'"  :flat="chat">
        <v-card-title>
            <v-avatar>
            <v-img :src="'/'+friend.img"></v-img>
            </v-avatar>
            <span
                class="d-inline-block text-truncate ml-2"
                style="max-width: 150px;"
            >
            {{friend.name}}
            </span>
    <v-spacer></v-spacer>
            <v-btn icon @click="Close"><v-icon>mdi-close</v-icon></v-btn>
            <hr>
        </v-card-title>

        <v-card-text>
            <div >
                <v-list style="height:25vh " class="overflow-y-auto"  v-chat-scroll>
                    <app-message v-for="message in messages"  :key="message.id" :message="message"></app-message>
                </v-list>
            </div>
            <hr>
            <div>
                <v-text-field
                        label="Напиши съобщение"
                        append-outer-icon="mdi-send"
                        @click:append-outer="Send_message"
                        @keydown.enter="Send_message"
                        @focus="seen"
                        v-model="message"
                ></v-text-field>
            </div>

        </v-card-text>
    </v-card>
</template>

<script>

    import Message from './Message'

    export default {
        name: "MessageHead",
        props:["friend","index",'chat'],
        components:{
            AppMessage:Message
        },
        data:()=>({
            messages:[],
            message:"",
            user:null

        }),
        methods:{
            FetchMessages(){

                let app =this;
                app.messages = [];
                this.get("auth/messages/threads/thread/"+this.friend.thread_id+"/friend/"+this.friend.id).then(resp=>{
                    app.messages = resp.thread.messages;
                    app.friend.thread_id = resp.thread.id;
                })

            },
            Close(){
                this.$EventBus.$emit("remove-chat",this.index);
            },
            seen(){
              this.post('auth/user/threads/seen',{
                  thread_id:this.friend.thread_id,
                  friend_id:this.friend.id
              })
            },
            Send_message() {
                let app = this;
                this.post("auth/messages/thread/"+this.friend.thread_id+"/add", {
                    user_id: this.user.id,
                    id: this.friend.id,
                    message: this.message,
                    thread_id:this.friend.thread_id

                }).then(function () {
                    app.messages.push({
                        user:{id: app.user.id},
                        body: app.message
                    });
                    app.message = "";
                })
            },


        },

        created(){
            let app = this;

                Echo.channel('user-'+app.$store.state.user.id)
                    .listen('NewMessage', (e) => {
                        if(app.friend.id == e.message.user.id){
                            app.messages.push(e.message);
                            app.push_notification(e.message.user.img,"Ново съобщение от "+e.message.user.name)
                        }


                    });


            this.FetchMessages();
            this.user = this.$store.getters.getUser;
        }
    }
</script>

<style scoped>

</style>
