<template>

    <div>
        <v-list sclass="scroll-y"  max-height="50% " two-line>



                <v-list-item
                        :class="message.user.id == user.id ? 'text-right':'text-left'"
                >
                    <v-list-item-avatar v-if="message.user.id != user.id">
                        <v-img :src="'/'+message.user.img"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title v-html="message.body" ></v-list-item-title>

                        <v-divider

                        ></v-divider>
                    </v-list-item-content>

                </v-list-item>
        </v-list>
        <v-spacer></v-spacer>
    </div>
</template>

<script>
    export default {
        name: "Message",
        props:["message"],
        data:()=>({
           user:{}
        }),
        created(){
            this.user = this.$store.getters.getUser;
        }

    }
</script>

<style scoped>

</style>
