<template>
    <v-container
        fluid
    >
    <h1 class="title" v-if="!chat" >Последни съобщения</h1>


               <app-last-messages v-if="!chat"></app-last-messages>


               <app-message-head :friend="friend" :index="1" chat="true" v-if="chat"></app-message-head>



    </v-container>
</template>

<script>

    import LastMessages from "./LastMessages";
    import MessageHead from "./MessageHead";

    export default {
        name: "Messages",
        components:{

            appLastMessages:LastMessages,
            appMessageHead:MessageHead,
        },
        data:()=>({

                chat:false,
                friend:{}

        }),
        created(){
            let app = this;
            this.$EventBus.$on("user",user=>{
                app.friend = user;
                app.chat=true;
            })
            this.$EventBus.$on("remove-chat",index=>{
                app.friend = {};
                app.chat=false;
            });
        }
    }
</script>

<style scoped>

</style>
