<template>
    <v-card>
        <v-card-subtitle>
            Потребители
        </v-card-subtitle>
        <v-card-text>
            <v-list>
                <template
                    v-for="user in users"
                >
                <v-list-item
                    @click="Select_chat(user)"
                >
                        <v-badge
                            bordered
                            bottom
                            :color="user.status == 1 ?'green':'red'"
                            dot
                            offset-x="10"
                            offset-y="10"
                            overlap
                        >
                            <v-avatar size="40">
                                <v-img :src="'/'+user.img"/>
                            </v-avatar>
                        </v-badge>



                    <v-list-item-title class="ml-2">
                            {{user.name}}
                    </v-list-item-title>
                    <v-list-item-action v-if="user.unread == true">
                        <v-btn icon color="green" ><v-icon>mdi-message-plus</v-icon></v-btn>
                    </v-list-item-action>
                </v-list-item>
                </template>
            </v-list>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "Users",
        data:()=>({
            users:[]
        }),
        methods:{
          fetchUsers(){
              let app = this;
              this.get('auth/users').then(resp=>{
                  app.users = resp.users;
              })
          },
            Select_chat(user){
                this.$EventBus.$emit("user",user);
            },
            updateUserThread(user,thread_id){
              this.users.forEach(usera=>{
                  if(usera.id == user.id){
                      if(!usera.thread_id){
                          usera.thread_id = thread_id
                      }

                  }
              })
            },
            updateUserStatus(user_id,status){
                this.users.forEach(user=>{
                    if(user.id == user_id){
                        user.status = status
                    }
                })
            }

        },
        created() {
            this.fetchUsers();
            let app = this;
            let user = this.$store.getters.getUser
            Echo.channel('user-'+user.id)
                .listen('NewMessage', (e) => {
                    app.updateUserThread(e.message.user,e.message.thread_id)
                        app.Select_chat(e.message.user);

                        app.push_notification(e.message.user.img,"Ново съобщение от "+e.message.user.name)

                });
        }
    }
</script>

<style scoped>

</style>
