<template>
    <div class="container">
        <p>
            Какво са Бисквитките?
            HTTP бисквитката (буквален превод от английски HTTP cookie), обикновено наричана просто „бисквитка“, е пакет информация, под формата на съвсем малък на размер файл,  изпратен от уеб сървър към Вашия Интернет браузър, а след това връщани от браузъра всеки път, когато той получи достъп до същия този сървър. „Бисквитките“ са изобретени от Лу Монтули, бивш служител на Нетскейп Комюникешънс. Почти всеки по-голям и богат на функционалност сайт в Интернет пространството използва бисквитки.

            Съдържание и предназначение на бисквитките
            „Бисквитките“ могат да съдържат произволна информация, избрана от сървъра, и се използват да поддържат състоянието на HTTP транзакциите, които иначе са „без състояние“. Обикновено те се използват за удостоверяване на самоличността на регистриран потребител на даден уебсайт, като част от процеса на влизане или първоначална регистрация в сайта, като от потребителя не се изисква ново въвеждане на потребителско име и парола при всеки следващ достъп до този сайт.
            Други използват бисквитките за поддържане на „пазарска кошница“ за избрани стоки за купуване от даден сайт по време на една сесия, за персонализация на сайт (представяне на различни страници за различните потребители), и за проследяване на достъпа на отделни потребители до даден сайт, за системи за оценяване на съдържанито от потребителите и т.н.
            Като най-добър пример за информация записана в бисквитка е дали сте отговорили с "ок" за използването на бисквитки за този сайт, за да не бъдете питани отново. Също така някои вградени от други сайтове видеа използват бисквитки за да събират анонимно статистика за това, от къде сте попаднали на въпросното  видео и кои видеа са гледани.

            Колко време стои бисквитката записана на компютъра ми?
            По принцип дадена „бисквитка“ остава записана в компютъра на потребителя за използване при следваща сесия, но това не е задължително или правило - тя може също така да се използва само в рамките на една сесия и да бъде изтрита в края на сесията. Бисквитките може да бъдат изтрити и от потребителя по всяко време.

            Какво идентифицират бисквитките?
            Ако на даден компютър се използва повече от един браузър, всеки си има отделно пространство за съхранение на „бисквитки“. „Бисквитките“ не идентифицират дадено лице, а комбинация от компютър и уеб браузър. Следователно, едно лице, което използва няколко браузъра и / или компютъра има отделен набор от „бисквитки“ за всяка комбинация компютър – браузър. От друга страна, „бисквитките“ не правят разлика между множество потребители, споделящи един и същ компютър и браузър, освен ако те не използват различни потребителски акаунти.

            Какво да направите, ако не желаете да бъдат инсталирани „бисквитки“ на Вашия компютър?
            Някои хора намират, че наличието на място за съхраняване на информация на техния компютър или мобилно устройство представлява до известна степен вмешателство, по-специално когато тази информация се съхранява и използва от неизвестни на тях трети лица. Ако предпочитате, е възможно да се блокират някои или всички „бисквитки“ или дори да се премахнат „бисквитките“, които вече са поставени на Вашето устройство, но трябва да сте наясно, че може да загубите някои функционални възможности. За да направите това, трябва да промените настройките за поверителност на вашия браузър. По-долу е обяснено как.

            За какво са тези предупреждения навсякъде, че сайта ползва бисквитки?
            На 25 май 2011 Европейският съюз въведе изискването всички уебсайтове, опериращи на територията му, да търсят съгласието на потребителите си да инсталират „бисквитки”. Аргументите в полза на решението бяха, че те представляват потенциален риск при управлението на личните данни на гражданите на ЕС и застрашават тяхната неприкосновеност.
            Макар да няма ясен текст, който да подсказва как трябва да изглежда въпросното „съгласие“, за момента се използва стандарта на т. нар. „мълчаливо“ съгласие. Според него потребителят разрешава инсталирането, ако след надпис с предупреждение за наличие на „бисквитки” продължи да разглежда конкретния уебсайт.

            Какво ми гарантира наличието или липсата на подобно съобщение на даден сайт и кое от двете трябва да ме притеснява?
            Концепцията за информираност на потребителя принципно е добра, но липсата на подобно съобщение на даден сайт за съжаление по никакъв начин не Ви гарантира, че от него не се използват бисквитки. Ако въпросният сайт е създаден с цел злоупотреби и/или инсталиране зловреден софтуер върху компютъра Ви, силно се съмняваме, че ще бъдете предупредени за това.
            Според нас наличието на подобно съобщение към момента означава едно единствено нещо: Че собствениците и администраторите на въпросния сайт имат желание да се спазват приетите закони (добри или лоши, ефективни или не) и са загрозили умишлено сайта си с предупреждение,  за да бъдат спазени правата на потребителите им. Реално погледаното сайт с предупреждение за използването на бисквитки има по-голяма вероятност да е безопасен, отколкото такъв, който няма такова, но използва бисквитки.
        </p>
    </div>
</template>

<script>
    export default {
        name: "Cookies"
    }
</script>

<style scoped>

</style>
