<template>
    <v-container fluid>
        <v-alert type="danger" v-show="error" >{{errTxt}}</v-alert>
        <h1 class="title text-center">Вход</h1>
        <v-card clas="mx-auto" flat>
            <v-card-text>
                <v-form>
                <v-text-field
                    outline
                    rounded
                    label="Email"
                    type="text"
                    v-model="email"
                />
                <v-text-field
                    outline
                    rounded
                    label="Парола"
                    type="password"
                    v-model="password"
                />
                    <v-btn block outlined rounded color="blue " @click="Login">Вход</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "Login",
        data:()=>({
            email:"",
            password:"",
            error:false,
            errTxt:"Грешен email или парола"
        }),
        methods:{
            Login(){
                let app = this;
                this.$EventBus.$emit("loading");
                this.post('auth/login',{
                    email:this.email,
                    password:this.password
                }).then(resp=>{
                    let token = resp.access_token
                    localStorage.setItem('token',token);
                    if(resp.is_approved == 0){
                        app.ertTxt = 'Не си потвърден потребител';
                        app.error = true;
                        this.$EventBus.$emit("stop-loading");
                        return;
                    }
                   localStorage.setItem('is_approved',1);

                    if(resp.is_paid !=0){
                        app.$store.commit('setPaid');
                    }
                    setTimeout(()=>{
                       this.$EventBus.$emit("stop-loading");
                        app.$router.push("/social/");
                    },1500);
                }).catch(err=>{
                    app.error = true;
                    this.$EventBus.$emit("stop-loading");

                })
            }
        }
    }
</script>

<style scoped>

</style>
