<template>
    <v-container fluid>
        <v-navigation-drawer
            v-model="drawer"
            disable-resize-watcher
            app
            right
            class="hidden-md-and-up"
        >
            <v-list dense>
                <template v-for="page in pages">
                    <v-list-group
                        value="true"
                        v-if="page.pages.length > 0"
                    >
                        <template v-slot:activator>
                            <v-list-item-title>{{page.title}}</v-list-item-title>
                        </template>
                        <v-list-item
                            v-for="(p,i) in page.pages"
                            :key="i"
                            :to="p.to"
                        >
                            <v-list-item-title>{{p.title}}</v-list-item-title>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                        v-else
                        :to="page.to"
                    >
                        <v-list-item-title>{{page.title}}</v-list-item-title>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar app color="blue lighten-3" dark flat rounded>
            <v-app-side-icon>
                <router-link to="/">
                    <v-img  class="mr-3" src="/images/logo.png"  height="auto" width="100px"  ></v-img>
                </router-link>
            </v-app-side-icon>

            <v-spacer></v-spacer>
<section    class="hidden-md-and-down">
            <template
                v-for="(page,i) in pages"

            >
                <v-menu
                    v-if="page.pages.length > 0"
                    offset-y
                    open-on-hover
                    transition="slide-y-transition"
                >
                    <template v-slot:activator="{ on }">
                        <v-btn
                            text
                            v-on="on"

                        >
                            {{page.title}}
                            <v-icon>
                                mdi-chevron-down
                            </v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item
                            v-for="(p, index) in page.pages"
                            :key="index"
                            :to="p.to"
                            @click=""

                        >
                            <v-list-item-title>{{p.title}}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                <v-btn
                    :to="page.to"
                    text
                    v-else
                >
                    {{page.title}}

                </v-btn>
            </template>
    </section>



            <v-app-bar-nav-icon class="hidden-md-and-up" @click.stop="drawer = !drawer" />

        </v-app-bar>
    </v-container>

</template>

<script>
    export default {
        name: "Header",

        data:()=>({
            drawer:false,
            pages:[

                {
                    title: "Структура",
                    pages: [
                        {
                            title: "Клонове",
                            to: "/branches"
                        },
                        {

                            title: "Партьори",
                            to: "/partners"
                        }
                    ],

                },
                {
                    title: "Събития",
                    to:"/events/",
                    pages:[]
                },

                {
                    title:"Новини",
                    to:"/news/",
                    pages:[]
                },
                {
                    title:"Препратки",
                    to:"/usefull/",
                    pages:[]
                },
                {
                    title:"Вход",
                    to:"/login",
                    pages:[]
                },


            ],

        }),
        created(){



            this.$EventBus.$emit('menu',this.pages);

        },
    }
</script>

<style scoped>
    .dropdown:hover .dropdown-menu {
        display: block;
        cursor:pointer;
    }
</style>
