<template>
    <v-app>
        <v-app-bar
                dense
                app
        >

            <v-toolbar-title>UAB.BG</v-toolbar-title>
<!--        <v-btn class="hidden-sm-and-down" text to="/social" >Начало</v-btn>-->
            <v-btn icon class="" to="/social">
                <v-icon>home</v-icon>
            </v-btn>
<!--        <v-btn class="hidden-sm-and-down" text to="/social/profile">Профил</v-btn>-->
            <v-btn icon class=""  to="/social/profile">
                <v-icon>people</v-icon>
            </v-btn>

            <v-menu bottom right>
                <template v-slot:activator="{ on }">
                    <v-btn

                            icon
                            v-on="on"
                    >
                        <v-icon>mdi-android-messages</v-icon>
                    </v-btn>
                </template>


                <app-last-messages></app-last-messages>

            </v-menu>



            <v-btn icon class="hidden-lg-and-up"  to="/social/messages">
                <v-badge left color="red" v-if="message_count > 0">
                    <span slot="badge"> {{message_count}} </span>
                    <v-icon>message</v-icon>
                </v-badge>

                <v-icon v-else>message</v-icon>

            </v-btn>
<!--            <v-btn class="hidden-sm-and-down" text to="/social/subscription" >Абонамент</v-btn>-->
            <v-btn icon class="" to="/social/subscription">
                <v-icon>money</v-icon>
            </v-btn>
            <v-btn icon class="hidden-lg-and-up" to="/social/events">
                <v-icon>emoji_events</v-icon>
            </v-btn>
            <v-btn icon class="hidden-lg-and-up" to="/newsletter">
                <v-icon>book</v-icon>
            </v-btn>


        </v-app-bar>
<v-content>
<!--    <component :is="component"></component>-->
    <router-view name="social"></router-view>
</v-content>
    </v-app>

</template>

<script>

import LastMessages from './Messages/LastMessages'
    export default {
        name: "App.vue",
        components:{
            appLastMessages:LastMessages
        },

        data:()=>({
            loading:false,
            user:{},
            message_count:0


        }),

        created() {
            let app = this;
            this.get('auth/user').then(function (resp) {
                app.$store.commit("setUser",resp);
                app.user = resp;
                app.$EventBus.$emit("user-get");
            }).catch((err)=>{
                app.$store.commit("removeUser");
                app.$router.push("/");

            });
            this.$EventBus.$on('message-count',(count)=>{
                app.message_count = count;
            })
            this.$router.listen((newLocation) =>{
            if(!app.user.is_subscribed){
                app.$router.push("/social/subscription");
            }
            })
            window.addEventListener('beforeunload',(e)=>{
                app.post('auth/logout',{
                }).then(()=>{

                });
                e.returnValue = "";
            })





        },
        updated() {
            if(!this.user.is_subscribed){
                this.$router.push("/social/subscription");
            }
        }

    }
</script>

<style scoped>

</style>
