<template>
    <div>

    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">

        <img class="w3-image" :src="article.img" alt="Architecture" width="1500" height="800">

        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-black">
            <span class=" w3-text-black">{{article.title}}</span>

            </h1>
        </div>
    </header>
        <br><br>
        <div class="w3-content">
            <div v-html="article.content"></div>
        </div>
        <br><br>
    </div>

</template>

<script>
    export default {
        name: "Article",
        props:['id'],
        data:()=>({
            article:[]
        }),
        methods:{
            FetchArticle(){
                var app = this;
                this.get('/article/'+this.id).then(function (resp) {
                    app.article = resp.article
                });
            }
        },
        created() {
            this.FetchArticle();
        }
    }
</script>

<style scoped>

</style>