<template>
    <v-container fluid >
        <v-row jusitify="center" >
            <v-col class="col-md-3 hidden-sm-and-down">

                    <social-sidebar-profile  :home="true" >

                    </social-sidebar-profile>
                    <app-newsletter  class="hidden-sm-and-down" ></app-newsletter>

            </v-col>
            <v-col class="col-md-6">
                <app-submit-post></app-submit-post>
                <social-posts ></social-posts>
                <v-container fluid>
                            <message-heads class="chathead hidden-sm-and-down "></message-heads>
                </v-container>

            </v-col>
            <v-col class="col-md-3 hidden-sm-and-down" >
                <social-sidebar-events></social-sidebar-events>

                <users></users>



<!--                -->

            </v-col>
        </v-row>

    </v-container>
</template>

<script>
    // import Profile from './Profile'

    // import Posts from './Posts/Posts'
    // import SidebarEvents from './Events/Events'
    // import SubmitPost from './Posts/SubmitPost'
    // import Newsletter from './Newsletter/Newsletter'
    // import Users from './Messages/Users'
    // import MessageHeads from './Messages/MessageHeads'
    export default {
        name: "Home",
        // components:{
        //     SocialSidebarProfile:Profile,
        //     SocialPosts:Posts,
        //     SocialSidebarEvents:SidebarEvents,
        //     AppSubmitPost:SubmitPost,
        //     AppNewsletter:Newsletter,
        //     Users,
        //     MessageHeads

        // },

    }
</script>

<style scoped>
    .chathead {

        z-index: 1;
        position: fixed;


        color: white;


        bottom: 0vh;
    }
</style>
