<template>
<v-container>


        <v-card
                class="text-center"
                flat
        >
            <v-card-title>

                <v-img
                        class="white--text align-end"
                        height="100%"
                        width="100%"
                        :src="bgurl">
                    <v-avatar size="150px">
                        <v-img
                                :src="user.img"
                        ></v-img>
                    </v-avatar>


                    <h1 v-show = "!edit_profile" v-if="user.id != this.$store.state.user">{{user.name}}</h1>
                    <hr>
                    <h4>Информация <v-btn icon @click="edit_profile = !edit_profile" v-if="!other_user" color="white"><v-icon>edit</v-icon></v-btn></h4>
                    <v-btn color="white" text @click="pickFile" v-if="!other_user">Обнови профилната снимка</v-btn>
                    <input

                            style="display: none"
                            @change="onFilePicked"
                            type="file" id="file" ref="file"/>
                    <v-btn color="white" text @click='pickFile("bg")' v-if="!other_user">Обнови  снимката на корицата</v-btn>
                    <v-text-field v-show = "edit_profile" v-model="user.name" label="Име" color="white"></v-text-field>
                    <v-text-field v-show = "edit_profile" v-model="user.email" label="Email" color="white"></v-text-field>
                    <h4 v-show="!edit_profile">Email: {{user.email}}</h4>

                    <v-card-actions>
                        <v-btn color="primary" v-show = "edit_profile">Запази</v-btn>
                        <v-btn color="red"  text @click="Logout" v-if="!other_user">Изход</v-btn>
                    </v-card-actions>
                </v-img>
            </v-card-title>
        </v-card>


    <hr>
    <p  v-if="other_user || !home">Постове</p>
    <app-posts :user="user.id" v-if="other_user || !home"></app-posts>
</v-container>

</template>

<script>
    // import Posts from './Posts/Posts'
    export default {
        name: "Profile",
        props:["user_id","home"],
        components:{
            // AppPosts:Posts,
        },
       data:()=>({
           user:[],
           edit_profile:false,
           edit_picture:false,
           profile_image:[],
           imageName: '',
           imageUrl: '',
           imageFile: '',
           other_user:false,
           img_type:'',
           bgurl:''
       }),
        created() {

           this.FetchUser();
           if(this.home == " "){
               this.home = false;
           }


        },
        methods:{
            pickFile (type='profile') {
                this.$refs.file.click ();
                this.img_type = type;
            },
            FetchUser(){
                let app = this;
                if(isNaN(this.$route.params.user_id)){
                    this.get("auth/user").then((resp)=>{
                        app.user = resp;
                        if(app.user.img !=null){
                            app.imageUrl = app.user.img;
                            app.bgurl = app.user.bg_image;
                        }
                    })
                }else{
                    this.get("auth/users/"+this.$route.params.user_id).then((resp)=>{
                        app.user = resp.user[0];
                        if(app.user.img !=null){
                            app.imageUrl = app.user.img;
                            app.bgurl = app.user.bg_image;
                            app.other_user = true;
                        }
                    })
                }
            },
            Logout(){
                let app = this;
                this.post('auth/logout',{}).then(()=>{
                    app.$store.commit("removeUser");
                    localStorage.setItem("token","");
                    app.$router.push("/");
                })


            },
            updatePhoto(){
                let app = this;
                this.$EventBus.$emit("loading");
                if(this.img_type=="bg"){
                    this.patch("auth/profile/update",{
                        bgurl:this.bgurl,
                        img_name:this.imageName,
                        image_type:this.img_type,
                        bg_image:this.bgurl
                    }).then(function(resp){
                        app.$EventBus.$emit("stop-loading");
                    })
                }else {
                    this.patch("auth/profile/update", {
                        img: this.imageUrl,
                        img_name: this.imageName,
                    }).then(function (resp) {
                        app.$EventBus.$emit("stop-loading");
                    })
                }
            },

            onFilePicked (e) {
                let app = this;
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageName = files[0].name
                    if (this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        if(app.img_type=="bg") {
                            this.bgurl = fr.result
                        }else{
                            this.imageUrl = fr.result
                        }

                        this.imageFile = this.$refs.file.files[0];
                        let img = {};
                        if(app.img_type=="bg"){
                           img = {
                                url: app.bgurl,
                                file: app.imageFile, // this is an image file that can be sent to server...
                                name: app.imageName // this is an image file that can be sent to server...
                            }
                        }
                        else{
                             img = {
                                url: app.imageUrl,
                                file: app.imageFile, // this is an image file that can be sent to server...
                                name: app.imageName // this is an image file that can be sent to server...
                            }
                        }// this is an image file that can be sent to server...

                        this.profile_image[0] = img;
                        this.updatePhoto();
                    })
                }
            }
        },
        watch:{
            imageUrl(val){
                this.user.img = val
            },
            user_id(){
                this.FetchUser();
            }
        },
        computed:{
            dyn_class(){
                if(!this.home){
                    return "col-md-8"
                }
            }
        }
    }
</script>

<style scoped>

</style>
